---
import Layout from "../layouts/layout.astro";
import "../css/global.css";
import Counter from "../components/Counter.astro";
import Cta from "../components/cta.astro";
---

<Layout>
  <div></div>
  <div class="video-wrapper">
    <video class="herovideo" controls>
      <source src="public/videoer/heroVideo.mp4" type="video/mp4" />
    </video>
  </div>

  <div class="content1">
    <h1>Øremærket Dankort</h1>
    <p>Hver gang du bruger dit Dankort, donerer vi 1 øre til Den Danske Naturfond. Det bliver til mere end 10 millioner kroner hvert år, der går ubeskåret til opkøb og udvikling af mere vild og varig natur i Danmark. Vi kalder det Dankort Øremærket. Målet er ikke at forbruge mere, men at skabe mere plads til den danske natur.</p>
  </div>

  <div class="knap">
    <Cta text="Se hvordan vi samarbejder" href="/#" />
  </div>

  <div>
    <svg id="sommerfugl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 270.49 165.5">
      <g id="vinge">
        <path
          d="M75.79,36.24c-2.77-8.74,1.86-18.3,8.98-23.52,8.07-5.92,18.67-7.8,28.5-7.7,8.63.09,18.3,2.46,22.13,11.07,1.94,4.35,2.09,9.33,1.92,14.01-.09,2.56-.28,5.12-.53,7.67-.23,2.41-.59,4.96-1.76,7.12-2.09,3.85-6.36,5.38-10.31,6.73-4.63,1.57-9.36,3.06-13.03,6.44-1.49,1.38-.42,4.51,1.77,4.27,10.87-1.18,22.2-1.08,32.51,2.98,8.74,3.44,16.02,10.3,19.05,19.3,1.39,4.13,1.9,8.6.89,12.88-.95,4.04-3.14,7.62-6.17,10.45-6.33,5.9-15.54,8.01-23.94,8.47-4.95.27-10.05.12-14.9-.95s-9.4-3.05-11.74-7.51c-1.5-2.85-5.81-.33-4.32,2.52,4.99,9.51,17.55,11.02,27.16,11.04,9.65.02,20.18-1.76,28.18-7.51,3.93-2.82,7.19-6.51,9.13-10.98,2.12-4.88,2.56-10.14,1.65-15.36-1.81-10.44-9.03-19.64-18.23-24.66-11.91-6.5-26.05-7.09-39.26-5.66l1.77,4.27c3.14-2.9,7.5-4.01,11.45-5.37,4.41-1.52,8.78-3.4,11.66-7.24,3.45-4.6,3.54-10.95,3.88-16.46s.33-11.17-1.45-16.4-5.04-9.25-9.65-11.94S121.61.53,116.58.15c-5.42-.41-10.95.04-16.29,1s-11.16,2.85-16,5.87c-10.02,6.24-17.07,18.68-13.32,30.55.97,3.06,5.8,1.75,4.82-1.33h0Z"
          style="fill: #dd2529;"></path>
      </g>
      <g id="krop">
        <path d="M63.22,46.57c-.79-2.49-2.13-5.99-.15-8.28,1.83-2.12,4.49.6,5.88,1.92,4.59,4.4,7.82,9.94,10.54,15.64,2.96,6.21,5.46,12.65,7.98,19.04,2.74,6.92,5.36,13.88,7.88,20.88,2.85,7.91,5.55,15.88,8.13,23.89l3.08-3.08c-4.87-.74-8.6-3.82-11.75-7.44-3.54-4.08-6.45-8.78-9.25-13.37-6.01-9.84-11.08-20.26-15.06-31.08-2.27-6.17-4.19-12.47-5.77-18.85-.77-3.12-5.6-1.8-4.82,1.33,2.93,11.83,7.06,23.35,12.28,34.37,2.59,5.48,5.46,10.82,8.6,16.01s6.16,9.94,9.87,14.41,8.62,8.55,14.58,9.46c1.75.27,3.72-1.08,3.08-3.08-5.04-15.71-10.62-31.25-16.72-46.58-2.79-7.01-5.52-14.13-8.97-20.85-3.17-6.18-7.31-12.68-13.1-16.72-3.57-2.49-8.07-2.14-10.7,1.47s-1.67,8.26-.41,12.25c.97,3.06,5.8,1.75,4.82-1.33h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="vinge-2" data-name="vinge">
        <path
          d="M56.51,41.98c-8.53-6.06-19.16-10.45-29.81-9.35-9.32.97-18.66,5.93-23.04,14.51C1.11,52.16.39,57.78.17,63.34c-.21,5.22-.38,10.57.51,15.74.83,4.77,3.03,9.34,6.84,12.44,3.61,2.93,7.99,4.44,12.58,4.94,11.94,1.29,22.45-5.83,31.71-12.39l-3.42-3.42c-5.4,10.62-10.45,21.58-13.14,33.24-2.29,9.93-3.03,21.58,3.02,30.4,5.02,7.33,13.8,10.89,22.53,10.61,9.25-.31,17.67-4.7,23.36-11.97,6.75-8.62,9.53-19.87,8.93-30.7-.18-3.2-5.18-3.22-5,0,.48,8.62-1.25,17.46-5.87,24.83-4.23,6.75-10.86,11.53-18.8,12.63-7.18,1-15.01-1.03-19.87-6.67-5.93-6.89-5.63-17.23-3.95-25.6,2.43-12.06,7.57-23.33,13.11-34.24,1.03-2.04-1.22-4.98-3.42-3.42-7.37,5.23-15.58,11.3-24.95,11.82-7.7.43-15.65-2.83-18.09-10.68-1.36-4.37-1.25-9.03-1.18-13.56.08-4.91.18-9.9,1.69-14.62,2.56-8.04,9.83-13.15,17.88-14.75,10.42-2.08,21,2.41,29.35,8.34,1.1.78,2.78.2,3.42-.9.73-1.25.21-2.64-.9-3.42h0Z"
          style="fill: #dd2529;"></path>
      </g>
      <g id="foelehorn">
        <path d="M67.13,33.52c-.07-.33-.14-.66-.2-.99,0-.01-.13-.8-.06-.34-.08-.58-.13-1.18-.15-1.77-.05-1.14-.02-2.28.1-3.42.01-.13.03-.25.04-.38-.04.25-.03.22.01-.09.04-.25.08-.5.13-.75.11-.58.24-1.16.4-1.73s.33-1.13.53-1.69c.09-.24.18-.47.27-.71.11-.28.13-.31.04-.1.07-.15.14-.31.21-.46.54-1.19.38-2.75-.9-3.42-1.1-.58-2.84-.37-3.42.9-2.35,5.13-3.01,10.75-1.82,16.27.28,1.28,1.84,2.15,3.08,1.75,1.35-.44,2.04-1.7,1.75-3.08h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="foelehorn-2" data-name="foelehorn">
        <path d="M61.53,35.39c-4.24-2.69-8.81-4.85-13.56-6.47-1.24-.42-2.79.48-3.08,1.75-.32,1.39.42,2.62,1.75,3.08,1.12.38,2.23.79,3.32,1.24.15.06.29.12.44.18-.23-.1-.22-.09.06.02.29.13.58.25.87.38.5.23,1,.46,1.5.7,2.13,1.03,4.19,2.18,6.19,3.45,1.11.7,2.81.27,3.42-.9.65-1.24.28-2.67-.9-3.42h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje">
        <path d="M110.22,135.15c.19,1.98.77,3.91,1.88,5.58s2.53,3.06,4.26,4.01c1.15.63,2.78.32,3.42-.9s.33-2.75-.9-3.42c-.43-.23-.83-.5-1.22-.79l.51.39c-.65-.5-1.22-1.08-1.73-1.73l.39.51c-.52-.68-.95-1.42-1.29-2.21l.25.6c-.31-.76-.53-1.55-.64-2.36l.09.66c-.01-.11-.03-.22-.04-.33-.07-.68-.23-1.27-.73-1.77-.43-.43-1.15-.76-1.77-.73s-1.32.24-1.77.73c-.42.46-.8,1.12-.73,1.77h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-2" data-name="linje">
        <path d="M208.6,147.87c1.43.29,2.84.29,4.27-.06.67-.16,1.32-.43,1.95-.73.66-.31,1.22-.75,1.8-1.2.47-.37.73-1.2.73-1.77,0-.61-.27-1.35-.73-1.77s-1.1-.76-1.77-.73l-.66.09c-.42.12-.79.33-1.1.64l-.07.06.51-.39c-.45.35-.94.63-1.47.86l.6-.25c-.58.24-1.19.41-1.81.5l.66-.09c-.6.08-1.19.08-1.79,0l.66.09c-.15-.02-.3-.05-.44-.08-.66-.13-1.33-.1-1.93.25-.52.3-1.01.9-1.15,1.49-.15.64-.11,1.36.25,1.93.34.53.86,1.02,1.49,1.15h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-3" data-name="linje">
        <path d="M226.18,140.57c1.37-2.15,2.42-4.53,3.1-6.99.35-1.26-.43-2.78-1.75-3.08s-2.7.4-3.08,1.75c-.28,1-.62,1.98-1.02,2.94l.25-.6c-.51,1.2-1.12,2.36-1.83,3.46s-.26,2.81.9,3.42c1.24.65,2.67.28,3.42-.9h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-4" data-name="linje">
        <path d="M229.88,123.55v-6.27c0-1.31-1.15-2.56-2.5-2.5s-2.5,1.1-2.5,2.5v6.27c0,1.31,1.15,2.56,2.5,2.5s2.5-1.1,2.5-2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-5" data-name="linje">
        <path d="M216.94,103.77c-4.3-.22-8.6-.25-12.9-.11-1.31.04-2.56,1.12-2.5,2.5s1.1,2.55,2.5,2.5c4.3-.14,8.6-.1,12.9.11,1.31.07,2.56-1.2,2.5-2.5-.06-1.41-1.1-2.43-2.5-2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-6" data-name="linje">
        <path d="M195.15,111.8c-1.61,3.89-2.77,7.95-3.45,12.11-.21,1.29.33,2.75,1.75,3.08,1.2.27,2.85-.37,3.08-1.75.68-4.16,1.84-8.22,3.45-12.11.5-1.21-.54-2.8-1.75-3.08-1.46-.33-2.54.45-3.08,1.75h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-7" data-name="linje">
        <path d="M192.42,135.05l.42,4.17c-.01.34.06.67.22.96.1.31.27.58.52.8.43.43,1.15.76,1.77.73s1.32-.24,1.77-.73c.42-.46.8-1.12.73-1.77l-.42-4.17c.01-.34-.06-.67-.22-.96-.1-.31-.27-.58-.52-.8-.43-.43-1.15-.76-1.77-.73s-1.32.24-1.77.73c-.42.46-.8,1.12-.73,1.77h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-8" data-name="linje">
        <path d="M202.74,159.65c4.94,3.88,11.01,6.04,17.32,5.84,1.31-.04,2.56-1.12,2.5-2.5s-1.1-2.54-2.5-2.5c-2.78.09-4.75-.18-7.44-1.04-1.38-.44-2.01-.71-3.25-1.37-.58-.31-1.14-.63-1.69-.99-.29-.19-.58-.38-.87-.58-.08-.06-.78-.58-.54-.39-1.03-.81-2.55-1.08-3.54,0-.83.9-1.1,2.67,0,3.54h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-9" data-name="linje">
        <path d="M234,165.42h7.32c1.31,0,2.56-1.15,2.5-2.5s-1.1-2.5-2.5-2.5h-7.32c-1.31,0-2.56,1.15-2.5,2.5s1.1,2.5,2.5,2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-10" data-name="linje">
        <path d="M252.67,164.72c2.64.05,5.24-1.02,7.14-2.85.46-.44.73-1.14.73-1.77s-.27-1.35-.73-1.77-1.1-.76-1.77-.73-1.28.26-1.77.73c-.21.2-.43.39-.66.57l.51-.39c-.51.39-1.07.71-1.66.96l.6-.25c-.62.26-1.26.43-1.93.53l.66-.09c-.38.05-.75.07-1.13.06-.63-.01-1.32.29-1.77.73s-.76,1.15-.73,1.77c.06,1.37,1.1,2.48,2.5,2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-11" data-name="linje">
        <path d="M265.5,157.64c.33-.02.67-.07,1-.13.12-.02.23-.04.35-.07.44-.12.86-.3,1.26-.5.22-.11.43-.23.62-.38.36-.27.73-.54,1.03-.87.24-.23.42-.49.52-.8.16-.3.23-.62.22-.96.01-.34-.06-.67-.22-.96-.1-.31-.27-.58-.52-.8-.48-.44-1.1-.76-1.77-.73l-.66.09c-.42.12-.79.33-1.1.64-.15.17-.31.32-.49.46l.51-.39c-.25.19-.53.35-.82.48l.6-.25c-.3.13-.62.22-.95.26l.66-.09c-.08,0-.16.02-.24.02-.34-.01-.67.06-.96.22-.31.1-.58.27-.8.52-.24.23-.42.49-.52.8-.16.3-.23.62-.22.96l.09.66c.12.42.33.79.64,1.1l.51.39c.39.23.81.34,1.26.34h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-12" data-name="linje">
        <path d="M122.84,151.33c2.43,1.27,4.87,2.54,7.3,3.81,1.16.61,2.77.34,3.42-.9.61-1.15.34-2.77-.9-3.42-2.43-1.27-4.87-2.54-7.3-3.81-1.16-.61-2.77-.34-3.42.9-.61,1.15-.34,2.77.9,3.42h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-13" data-name="linje">
        <path d="M139.34,156.97c3.33,0,6.66,0,10,0,1.31,0,2.56-1.15,2.5-2.5s-1.1-2.5-2.5-2.5c-3.33,0-6.66,0-10,0-1.31,0-2.56,1.15-2.5,2.5s1.1,2.5,2.5,2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-14" data-name="linje">
        <path d="M161.97,158.53c3.39.31,6.89-.08,10.13-1.13,1.24-.4,2.17-1.75,1.75-3.08-.4-1.25-1.74-2.17-3.08-1.75-.73.24-1.48.44-2.23.6-.4.09-.81.17-1.22.23-.17.03-.36.04-.53.08.7-.15.04,0-.13,0-1.56.17-3.14.17-4.7.02-1.31-.12-2.56,1.24-2.5,2.5.07,1.46,1.1,2.37,2.5,2.5h0Z" style="fill: #dd2529;"></path>
      </g>
      <g id="linje-15" data-name="linje">
        <path d="M185.12,155.51c3.92-.24,7.72-1.35,11.12-3.31,1.13-.65,1.63-2.29.9-3.42s-2.21-1.6-3.42-.9c-.71.41-1.45.77-2.19,1.12-.25.11-.21.09.11-.04-.11.04-.22.09-.33.13-.16.06-.33.13-.49.19-.41.15-.83.29-1.25.42-.79.24-1.59.43-2.39.58-.2.04-.4.07-.61.1-.12.02-.23.04-.35.05.34-.05.42-.06.23-.03-.44.04-.88.09-1.32.12-1.3.08-2.56,1.09-2.5,2.5.06,1.29,1.1,2.59,2.5,2.5h0Z" style="fill: #dd2529;"></path>
      </g>
    </svg>
  </div>

  <section>
    <div class="arealCounter">
      <h1 class="arealh1">Estimeret donation indtil videre 2026</h1>
      <div class="counter">
        <Counter />
      </div>
    </div>
    <div class="knap">
      <Cta text="Se hvordan vi samarbejder" href="/#" />
    </div>
  </section>

  <section class="container">
    <div class="marginFix">
      <img class="placeholderreel" src="/public/img/placeholderreel.png" alt="placeholderreel.png" />
    </div>

    <div class="applepayTekst">
      <div>
        <svg id="fugl" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 250.57 148.34">
          <path d="M2.41,38.71h29.06c3.22,0,3.22-5,0-5H2.41c-3.22,0-3.22,5,0,5h0Z" style="fill: #dd2529;"></path>
          <path d="M4.65,36.94c7.51-3.2,14.85-6.79,21.97-10.77,2.81-1.57.29-5.89-2.52-4.32-7.13,3.98-14.46,7.58-21.97,10.77-1.24.53-1.52,2.36-.9,3.42.75,1.29,2.17,1.43,3.42.9h0Z" style="fill: #dd2529;"></path>
          <path
            d="M27.01,21.42c1.6-6.61,6.45-12.01,12.63-14.74s13.6-1.84,19.7,1.39c6.78,3.59,12.27,9.14,17.53,14.63,6.73,7.03,13.45,14.08,20.17,21.12s12.8,13.53,19.34,20.17c6.05,6.14,12.35,12.04,19.3,17.17,14.49,10.69,31.69,15.9,48.96,20.14,18.58,4.56,37.43,7.99,56.42,10.33,2.34.29,4.67.56,7.01.81v-5c-8.3.18-16.37,2.04-23.96,5.37-1.88.83-1.47,4.27.6,4.57,7.08,1.03,14.07,2.9,20.66,5.7l.6-4.57c-6.1.98-12.21,1.96-18.31,2.94-2.05.33-2.5,3.72-.6,4.57,4.82,2.16,9.64,4.33,14.46,6.49l1.26-4.66c-15.5-1.79-31-3.56-46.43-5.82-14.11-2.06-28.28-4.33-42.09-7.94-12.64-3.3-25.04-7.89-35.99-15.13-10.01-6.61-18.23-15.53-23.52-26.33-5.62-11.48-7.4-24.82-2.96-36.99.46-1.27-.52-2.74-1.75-3.08-1.39-.38-2.61.47-3.08,1.75-8.66,23.72,4.25,50.24,23.17,64.92,22.44,17.43,51.66,22.51,79.02,26.73,17.81,2.75,35.73,4.82,53.63,6.88,2.42.28,3.47-3.67,1.26-4.66-4.82-2.16-9.64-4.33-14.46-6.49l-.6,4.57c6.1-.98,12.21-1.96,18.31-2.94,2.02-.33,2.53-3.75.6-4.57-7.02-2.98-14.3-5.1-21.85-6.2l.6,4.57c6.75-2.97,14.07-4.53,21.43-4.69,1.35-.03,2.5-1.13,2.5-2.5,0-1.47-1.15-2.35-2.5-2.5-19.22-2.09-38.31-5.36-57.13-9.77-17.56-4.11-35.43-8.75-50.43-19.17-7.09-4.92-13.44-10.84-19.51-16.95-6.63-6.67-13.06-13.56-19.56-20.36s-13.61-14.25-20.42-21.38c-5.52-5.78-11.28-11.64-18.31-15.59s-14.66-5.47-22.17-3.16c-6.98,2.14-13.18,7.2-16.42,13.78-.83,1.68-1.49,3.45-1.93,5.27-.76,3.13,4.06,4.46,4.82,1.33h0Z"
            style="fill: #dd2529;"></path>
          <path d="M27.4,36.38c-2.76,16.8,6.26,32.42,16.95,44.63s22.9,21.35,36.48,28.95c14.32,8,29.78,13.82,45.58,18.1,17.54,4.75,35.51,7.66,53.5,10.07,18.38,2.46,37.1,5.21,55.68,3.71,2.34-.19,4.68-.46,7.01-.78,1.07-.15,1.84-1.42,1.84-2.41,0-1.11-.78-2.1-1.84-2.41-7.82-2.27-15.63-4.54-23.45-6.81-3.1-.9-4.42,3.92-1.33,4.82,7.82,2.27,15.63,4.54,23.45,6.81v-4.82c-17.96,2.45-36.22.11-54.07-2.16s-34.82-4.79-51.9-8.9c-15.72-3.79-31.17-8.89-45.63-16.18-13.44-6.77-26.03-15.33-36.66-26.03s-20.87-24.18-21.17-39.65c-.04-1.87.07-3.76.37-5.61.22-1.33-.35-2.69-1.75-3.08-1.19-.33-2.86.41-3.08,1.75h0Z" style="fill: #dd2529;"></path>
          <path
            d="M68.23,78.1c.2,8.91.22,17.83.05,26.74-.08,4.46-.22,8.91-.39,13.37,0,.2-.26,2.82-.14,2.88-.53-.24,1.35-.37.28-.42-.44-.02-.89.02-1.32.06-1.85.13-3.69.46-5.45,1.03-4.02,1.3-7.68,3.65-10.46,6.83-.82.94-1,2.27-.2,3.28.7.87,2.22,1.41,3.23.64,4.25-3.26,9.3-5.14,14.67-5.25l-1.77-4.27c-4.87,3.82-8.45,8.96-10.62,14.74l4.82,1.33c1.91-5.52,4.71-12.8,11.17-13.86l-3.08-3.08c-2.58,7.21-3.21,14.87-2.13,22.43.19,1.34,1.89,2.07,3.08,1.75,1.44-.4,1.94-1.73,1.75-3.08-.95-6.66-.12-13.46,2.13-19.78.71-1.97-1.37-3.36-3.08-3.08-8.34,1.38-12.21,10.27-14.66,17.36-.44,1.28.5,2.73,1.75,3.08,1.4.39,2.6-.48,3.08-1.75,1.87-4.98,5.16-9.26,9.33-12.53,1.75-1.38.24-4.31-1.77-4.27-6.19.13-12.28,2.16-17.2,5.93l3.03,3.93c2.31-2.65,5.24-4.64,8.62-5.66,1.75-.53,3.44-.67,5.25-.8,2.37-.17,4.13-1.46,4.47-3.9.31-2.22.25-4.53.33-6.76s.15-4.62.2-6.93c.11-4.7.18-9.41.18-14.11.01-5.28-.05-10.57-.16-15.85-.07-3.21-5.07-3.22-5,0h0Z"
            style="fill: #dd2529;"></path>
          <path
            d="M94.34,97.79c-.79,10.93-2.75,21.73-5.78,32.26l2.41-1.84c-5.6.21-10,4.54-10.63,10.03-.29,2.48,3.58,3.38,4.66,1.26,1.27-2.52,3.36-4.42,6.07-5.28l-3.16-2.41c.07,4.47-.16,8.96-.77,13.4l4.91.66c-.09-4.54.02-9.09.35-13.62,0-.02.08-.96.08-.98.32-.88-.27-.8-1.76.24.12.12.23.23.36.34.54.95,1.31,1.83,1.95,2.72,1.3,1.81,2.6,3.63,3.9,5.44.78,1.1,2.18,1.62,3.42.9,1.08-.63,1.69-2.32.9-3.42-1.76-2.46-3.53-4.93-5.29-7.39-.86-1.2-1.69-2.45-3.1-3.05s-3.11-.3-4.19.87c-.98,1.05-1.11,2.48-1.22,3.84-.12,1.54-.21,3.08-.28,4.62-.14,3.16-.17,6.33-.11,9.49.03,1.23.93,2.31,2.17,2.46,1.1.13,2.57-.55,2.74-1.79.67-4.89,1.02-9.79.95-14.73-.02-1.57-1.59-2.91-3.16-2.41-3.9,1.24-7.2,3.91-9.05,7.58l4.66,1.26c.31-2.71,2.99-4.93,5.63-5.03,1.12-.04,2.1-.75,2.41-1.84,3.16-10.95,5.14-22.22,5.96-33.59.1-1.35-1.22-2.5-2.5-2.5-1.43,0-2.4,1.15-2.5,2.5h0Z"
            style="fill: #dd2529;"></path>
          <path d="M38.03,24.01c.47-1.61,1.68-2.83,3.25-3.69,1.86-1.03,4.16-1.32,6.38-1.35,1.28-.02,2.56.04,3.84.1.46.02.93-.01,1.28.14-.16-.07-.1-.3,0,.09.59,2.45.85,5,1.07,7.5.12,1.35,1.07,2.5,2.5,2.5,1.26,0,2.62-1.15,2.5-2.5-.15-1.77-.36-3.53-.62-5.29-.23-1.55-.35-3.27-1.08-4.69-1.65-3.23-6.03-2.88-9.11-2.86-6.08.03-12.94,2.26-14.84,8.72-.91,3.09,3.92,4.42,4.82,1.33h0Z" style="fill: #dd2529;"></path>
        </svg>
      </div>
      <h2 class="applepayOverskrift">Læg dit Dankort i Apple Pay</h2>
      <p>Det er nu muligt for kunder i alle banker, der udsteder Visa/Dankort eller Mastercard Dankort at betale med Dankort i Apple Pay.</p>
      <p>Det eneste det kræver er, at du bruger 2 minutter på at tilføje dit kort i din Apple wallet eller via din mobilbank.</p>
      <p>Bruger du allerede Visa/Dankort eller Mastercard Dankort med Apple Pay skal du fjerne dit kort og tilføje det på ny for at Dankort delen bliver aktiveret.</p>
      <p>Så gør dig selv, og dem du handler hos, en tjeneste. Læg dit Dankort i Apple Pay.</p>
      <div class="knap">
        <Cta text="Læs mere her" href="/#" />
      </div>
    </div>
  </section>

  <section class="content2">
    <div>
      <h2>Sammen kan vi gøre en forskel</h2>
      <p>Se hvilke butikker og banker der støtter Den Danske Naturfond ved at donere 1 øre, hver gang du som kunde betaler med Dankort.</p>
    </div>

    <div class="video-wrapper">
      <video class="samarbejdevideo" controls>
        <source src="public/videoer/samarbejdeVideo.mp4" type="video/mp4" />
      </video>
    </div>

    <div>
      <div class="moenterContainer">
        <svg id="moenterSvg" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 466.91 47.15">
          <g id="cirkel1">
            <path d="M5.01,22.61c.84-7.65,8.05-12.53,14.93-14.28,6.29-1.6,14.13-1.92,19.78,1.8,2.73,1.8,4.17,4.66,4.59,7.86.28,2.12.22,4.29.2,6.42s-.07,4.07-.61,6.04c-1.97,7.2-10.92,10.72-17.72,10.5-7.78-.25-15.02-5.51-17.79-12.78-.48-1.26-1.69-2.13-3.08-1.75-1.21.33-2.23,1.81-1.75,3.08,3.09,8.13,10.3,14.62,19,16.07s19.59-1.9,24.51-9.96c2.65-4.34,2.53-9.73,2.41-14.64s-1.06-9.31-4.38-12.81c-5.85-6.16-15.54-6.56-23.37-5.3C11.28,4.55,1.25,11.4.01,22.61c-.15,1.34,1.26,2.5,2.5,2.5,1.47,0,2.35-1.15,2.5-2.5h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="et">
            <path d="M22.12,22.56c1.52-.76,2.68-2.04,3.85-3.24,1.3-1.33,2.61-2.67,3.91-4l-4.18-2.43c-1.03,6.32-2.06,12.63-3.09,18.95-.22,1.33.35,2.69,1.75,3.08,1.19.33,2.86-.41,3.08-1.75,1.03-6.32,2.06-12.63,3.09-18.95.18-1.11-.12-2.22-1.15-2.82-.95-.56-2.26-.4-3.03.39-1.22,1.25-2.43,2.49-3.65,3.74-.99,1.02-1.91,2.13-3.1,2.73s-1.55,2.31-.9,3.42c.72,1.23,2.21,1.5,3.42.9h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej">
            <path d="M89.87,24.86c4.61-.14,9.22-.09,13.82.15,1.31.07,2.56-1.2,2.5-2.5-.06-1.41-1.1-2.43-2.5-2.5-4.6-.25-9.21-.3-13.82-.15-1.31.04-2.56,1.12-2.5,2.5s1.1,2.54,2.5,2.5h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej-2" data-name="strej">
            <path d="M95.21,15.41c-.92,4.48-1.87,8.95-2.84,13.42-.28,1.27.38,2.76,1.75,3.08,1.26.29,2.78-.38,3.08-1.75.97-4.47,1.92-8.94,2.84-13.42.26-1.28-.37-2.76-1.75-3.08-1.25-.28-2.79.38-3.08,1.75h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="cirkel2">
            <path d="M173.6.82c-8.46-2.26-17.81.22-23.79,6.69s-8.56,16.14-4.35,24.04,12.72,10.99,20.85,12.07c2.36.31,4.73.49,7.11.61,2.04.1,4.19.22,6.16-.4,4.7-1.5,5.67-6.07,6.3-10.39.74-5.06.95-10.42-1.04-15.25-1.79-4.34-4.87-7.8-9.28-9.55-1.26-.5-2.75.54-3.08,1.75-.39,1.42.49,2.58,1.75,3.08,6.39,2.53,7.56,10.58,7.06,16.53-.16,1.87-.44,3.74-.84,5.57-.27,1.21-.58,2.64-1.77,3.27-1.27.68-2.97.51-4.36.45-1.96-.08-3.93-.2-5.88-.4-6.44-.65-13.61-2.6-17.61-8.13s-2.57-13.21,1.43-18.43c4.65-6.07,12.65-8.63,20-6.67,3.11.83,4.44-3.99,1.33-4.82h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="et-2" data-name="et">
            <path d="M160.69,21.99c1.8.47,3.65.2,5.3-.65s2.78-2.3,3.43-4l-4.82-1.33c-.68,4.17-1.35,8.35-2.03,12.52-.21,1.29.33,2.75,1.75,3.08,1.2.27,2.85-.37,3.08-1.75.68-4.17,1.35-8.35,2.03-12.52.21-1.29-.33-2.75-1.75-3.08s-2.57.44-3.08,1.75c.05-.14.21-.41.05-.13-.07.12-.13.25-.21.37-.05.08-.28.34-.05.09.25-.26-.03.02-.08.07-.1.1-.2.2-.3.3-.25.25,0-.06.11-.07-.16.02-.5.32-.65.4-.1.05-.41.12-.09.05.35-.08-.02,0-.1.02-.14.04-.27.07-.41.11-.33.09.02-.02.16,0-.22-.02-.45.04-.67.03-.04,0-.6-.04-.17,0,.41.03-.1-.04-.17-.06-1.26-.33-2.77.42-3.08,1.75s.39,2.73,1.75,3.08h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej-3" data-name="strej">
            <path d="M230.11,25.16c5.41-.12,10.82-.09,16.22.1,1.31.04,2.56-1.18,2.5-2.5-.06-1.39-1.1-2.45-2.5-2.5-5.41-.18-10.81-.21-16.22-.1-1.31.03-2.56,1.13-2.5,2.5s1.1,2.53,2.5,2.5h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej-4" data-name="strej">
            <path d="M236.98,15.36c-.96,2.88-1.61,5.87-1.88,8.89-.24,2.74.08,5.69,1.67,8.01.74,1.08,2.23,1.66,3.42.9,1.07-.69,1.69-2.27.9-3.42-.18-.26-.33-.54-.49-.81-.28-.47.03.22-.12-.26-.17-.53-.31-1.05-.4-1.6.08.52-.03-.43-.03-.53-.01-.24-.02-.48-.02-.72,0-.61.04-1.21.1-1.81,0-.09.1-.86.05-.45.04-.33.1-.65.15-.98.11-.65.23-1.3.38-1.94.3-1.34.67-2.65,1.1-3.95s-.48-2.79-1.75-3.08c-1.38-.31-2.63.42-3.08,1.75h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="cirkel3">
            <path d="M290.38,19.92c.15-6.29,5.06-11.76,10.94-13.56,6.56-2.01,13.68.7,18.39,5.41,5.37,5.37,7.27,13.17,6.69,20.58-.15,1.87-.45,3.75-.97,5.55-.17.6-.32,1.12-.9,1.41-.9.46-2.06.62-3.03.88-4.27,1.16-8.64,2.14-13.1,1.96-4-.16-8.25-1.36-11.19-4.2-2.66-2.57-4.15-6.4-3.13-10.05.86-3.1-3.96-4.43-4.82-1.33-1.23,4.43-.09,9.22,2.64,12.86s7.03,6.12,11.58,7.1c5.13,1.11,10.37.59,15.44-.54,2.48-.55,5.11-1.09,7.46-2.07,2.46-1.02,3.54-3.17,4.12-5.65,2.12-9.03,1.03-19.37-4.62-26.96-5.28-7.09-14.04-11.64-22.98-10.4s-17.29,9.47-17.51,19.01c-.07,3.22,4.93,3.22,5,0h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="et-3" data-name="et">
            <path d="M305.14,21.67c3.91,1.06,8.28-1.42,9.23-5.39l-4.82-1.33c-.89,5.52-1.43,11.1-1.14,16.69.07,1.3,1.1,2.56,2.5,2.5,1.3-.06,2.57-1.1,2.5-2.5-.27-5.16.16-10.38.96-15.36.21-1.29-.33-2.75-1.75-3.08-1.28-.29-2.75.39-3.08,1.75-.03.14-.35.89-.09.39-.13.25-.26.49-.43.71.35-.46-.23.19-.31.27-.22.18-.21.18.01,0-.12.08-.23.16-.35.23-.12.07-.24.14-.37.2.28-.11.28-.11.02,0-.27.08-.53.16-.81.21.62-.12-.23-.02-.37-.02-.29-.02-.28-.02.04.02-.14-.03-.27-.06-.41-.1-1.26-.34-2.77.43-3.08,1.75s.4,2.71,1.75,3.08h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej-5" data-name="strej">
            <path d="M370.35,21.53c5.51,0,11.01,0,16.52,0,1.31,0,2.56-1.15,2.5-2.5s-1.1-2.5-2.5-2.5c-5.51,0-11.01,0-16.52,0-1.31,0-2.56,1.15-2.5,2.5s1.1,2.5,2.5,2.5h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="strej-6" data-name="strej">
            <path d="M370.95,30.27c4.21-.18,8.42-.09,12.61.25,1.31.11,2.56-1.23,2.5-2.5-.06-1.45-1.1-2.39-2.5-2.5-4.2-.34-8.41-.43-12.61-.25-1.3.05-2.56,1.11-2.5,2.5.06,1.31,1.1,2.56,2.5,2.5h0Z" style="fill: #dd2529;"></path>
          </g>
          <g id="Blomsten">
            <path
              d="M447.45,23.54c-.67-2.15-1.31-4.31-2.01-6.44-.63-1.93-1.42-3.85-2.83-5.35-1.59-1.68-3.76-2.36-5.99-2.65s-4.31-.15-5.58,2.11c-2.24,4-2.5,8.93.5,12.58,2.82,3.43,7.33,4.41,11.5,5.06,1.17.18,2.16-.14,2.82-1.15.83-1.26.47-3.08-.86-3.86-.97-.57-2.15-.49-3.24-.52-2.35-.06-4.7-.01-7.03.37-1.91.31-3.91,1.03-5.22,2.53-1.4,1.59-1.82,3.78-1.61,5.84s1.19,4.1,3.16,5.14c1.83.97,4.06.92,5.95.15s3.51-2.21,4.97-3.69c1.59-1.61,3.03-3.37,4.19-5.31l-4.32-2.52c-1.78,3.32-3.77,6.93-4.37,10.69s.73,7.76,4.25,9.52,7.44.69,9.5-2.48c1.86-2.86,1.74-6.91,1.3-10.15-.58-4.27-2.75-7.99-6.86-9.64-2.2-.88-3.7,1.93-2.82,3.67,1.67,3.32,4.33,5.97,7.33,8.11,1.6,1.14,3.32,2.11,5.08,2.99s3.79,2.13,5.81,2.29c4.46.34,6.61-5.3,5.59-8.93s-4.58-6.04-8.18-6.97c-4.61-1.19-9.51-1.1-14.14-.14-2.84.58-2.07,4.83.66,4.91,2.59.07,5.18.15,7.77.22,2.32.06,4.55-.06,6.71-.99,3.55-1.54,7.64-5.8,6.1-10.01-1.64-4.48-7.59-5.3-11.57-4.03s-7.97,4.08-9.89,7.94c-1.06,2.14,1.16,4.79,3.42,3.42,5.66-3.43,13.07-8.64,12.06-16.21-.48-3.61-2.97-6.45-6.58-7.2-1.67-.35-3.67-.57-5.34-.07-1.91.57-2.83,2.15-3.58,3.86-1.77,4.04-2.63,8.4-2.45,12.82.13,3.21,5.13,3.22,5,0-.15-3.49.39-6.95,1.72-10.19.15-.37.32-.74.5-1.1.08-.17.17-.34.25-.5.24-.35.24-.39,0-.11.48-.12,1.13-.03,1.61,0,1.12.07,2.45.33,3.19,1.26,1.56,1.96.58,4.79-.74,6.57-2.05,2.76-5.29,4.81-8.18,6.56l3.42,3.42c1.23-2.47,3.43-4.19,5.94-5.28,1.29-.56,2.77-.94,4.19-.71.64.11,2.21.55,2.35,1.35.16.92-1.3,2.26-1.93,2.77-.91.73-2.05,1.22-3.21,1.39-1.61.24-3.32.04-4.94,0-1.94-.05-3.88-.11-5.83-.16l.66,4.91c3.62-.74,7.47-.8,11.08.05,2.35.55,6.28,2.35,4.98,5.46-.09.23-.22.49-.41.66-.34.32.14.11-.22,0-.78-.23-1.56-.69-2.29-1.04-1.71-.82-3.39-1.7-4.98-2.73-2.79-1.8-5.17-4.1-6.67-7.08l-2.82,3.67c2.61,1.05,3.28,4.52,3.39,6.97.08,1.78.38,5.42-1.78,6.2-2.49.9-3.86-2.1-3.62-4.11.39-3.24,2.31-6.47,3.83-9.3s-2.66-5.29-4.32-2.52c-1.32,2.2-3.09,4.22-5.07,5.87-.8.67-3.11,2.16-3.79.6-.28-.65-.27-1.83.05-2.47.35-.69,1.25-.93,1.95-1.1,2.66-.66,5.8-.59,8.51-.33l-1.26-.34.24.11-1.15-1.49.1.24.25-1.93-.13.2,2.82-1.15c-2.81-.44-6.05-.81-8.29-2.73-2.11-1.81-2.16-4.4-1.09-6.84.01-.03.5-.9.48-.92-.92.26-1.13.39-.66.39.2,0,.39.02.58.04.6.05,1.18.13,1.76.28,1.21.31,1.98.93,2.58,2.02.65,1.17.99,2.49,1.38,3.77l1.51,4.85c.95,3.06,5.78,1.76,4.82-1.33h0Z"
              style="fill: #dd2529;"></path>
          </g>
        </svg>
      </div>
      <div class="grid-1-4">
        <p>Dankort donerer 1 øre</p>
        <p>Din bank donerer 1 øre</p>
        <p>Dem du handler hos donerer 1 øre</p>
        <p>Endnu mere Dansk Natur</p>
      </div>
    </div>
  </section>

  <section class="dankortContainer">
    <div class="marginFix">
      <div class="tekstContent">
        <h2 class="h2dankort">Et kort, der gror med dig</h2>
        <p class="pdankort">Sammen gør vi en forskel. Bestil dit kort nu og være en del af noget stort.</p>
        <Cta text="Læs mere her" href="/#" />
      </div>

      <div>
        <svg id="Layer1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 167.47 130.24">
          <g id="Bi">
            <path id="biKrop" d="M78.1,68.9c-6.11,12.82-31.77,12.63-51.41,3.26C7.05,62.8-3.92,44.81,2.19,31.99c6.11-12.82,26.99-15.62,46.63-6.26,19.64,9.37,35.39,30.35,29.28,43.17Z" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <g id="biFarve">
              <path
                d="M18.11,64.28c8.79-12.91,18.27-25.33,28.39-37.22l-1.82.23,7.59,4.9-.54-2.05c-4.05,7.83-9.41,14.85-14.89,21.71-2.72,3.4-5.46,6.78-8.1,10.24-.66.87-1.32,1.74-1.97,2.61-.35.47-.69.94-1.03,1.41-.17.24-.34.47-.51.71-.03-.11-.12-.16-.25-.15-.94-.07-2.07-.8-2.87-1.26-.98-.56-1.87-1.22-2.7-1.97v2.12c9.56-8.23,17.4-18.16,25.16-28.05l-2.36-.3s-1.4,1.92-1.51,2.08c-.61.87-1.22,1.73-1.83,2.6-1.18,1.66-2.36,3.32-3.55,4.97-2.43,3.37-4.9,6.71-7.39,10.04l1.69-.69c.87.3.21.57.48-.03.18-.4.28-.89.43-1.31.28-.79.57-1.57.9-2.34.7-1.65,1.51-3.25,2.42-4.8,1.82-3.12,4.03-5.96,6.57-8.53l-2.36-1.82c-2.33,4.23-4.94,8.29-7.82,12.17l2.59,1.51c2.99-5.9,6.53-11.54,10.63-16.74.81-1.02,1.73-2.4,2.99-2.91,1.18-.47,1.8.57,1.64,1.65-.21,1.44-1.56,2.6-2.52,3.59-1.17,1.21-2.34,2.42-3.5,3.63l2.51,1.46c.68-3.3,2.06-6.39,4.18-9.03l-2.56-1.06c.06,1.68-1.62,3.18-2.59,4.4-1.17,1.47-2.35,2.93-3.52,4.4-2.08,2.61-4.15,5.23-6.02,7.98s-3.39,5.64-4.77,8.68c-.64,1.41-1.35,2.72-2.51,3.77s-2.67,1.86-4.09,2.63l2.05,2.05c.85-1.66,2.1-2.79,3.81-3.52s.24-3.34-1.51-2.59c-2.12.9-3.84,2.54-4.89,4.59-.68,1.33.7,2.79,2.05,2.05,3.07-1.67,5.74-3.49,7.32-6.71s3.08-6.42,5.13-9.44,4.42-5.96,6.73-8.86c1.25-1.56,2.5-3.11,3.74-4.68,1.12-1.42,2.14-2.88,2.07-4.77-.04-1.17-1.69-2.14-2.56-1.06-2.44,3.04-4.16,6.52-4.95,10.35-.29,1.4,1.41,2.6,2.51,1.46,1.46-1.51,2.96-3,4.38-4.55,1.22-1.32,2.36-2.85,2.51-4.71.31-3.78-3.41-6.1-6.63-4.05-1.63,1.04-2.77,2.64-3.93,4.15-1.29,1.67-2.53,3.38-3.72,5.13-2.43,3.58-4.61,7.31-6.57,11.17-.89,1.76,1.45,3.04,2.59,1.51,2.88-3.88,5.49-7.94,7.82-12.17.81-1.47-1.13-3.05-2.36-1.82-3.25,3.28-6.02,7.03-8.13,11.13-1.04,2.01-1.93,4.11-2.66,6.25-.59,1.74-.79,3.92,1.32,4.64.68.23,1.31-.17,1.69-.69,2.89-3.84,5.73-7.72,8.53-11.62,1.38-1.92,2.74-3.85,4.1-5.78,1.01-1.45,2.93-3.47,1.65-5.31-.49-.7-1.71-1.13-2.36-.3-7.76,9.89-15.59,19.82-25.16,28.05-.59.51-.57,1.61,0,2.12,1.33,1.2,2.79,2.25,4.41,3.02,1.41.67,3.51,1.78,5.03.87.65-.38,1.04-1.05,1.47-1.65.59-.83,1.2-1.65,1.81-2.46,1.14-1.53,2.32-3.04,3.5-4.54,4.72-5.98,9.62-11.83,14.01-18.06,2.5-3.55,4.81-7.24,6.81-11.1.39-.74.17-1.59-.54-2.05l-7.59-4.9c-.52-.33-1.4-.25-1.82.23-10.29,12.08-19.93,24.71-28.86,37.83-1.09,1.6,1.51,3.1,2.59,1.51h0Z"
                style="fill: #010101;"></path>
            </g>
            <g id="biFarve-2" data-name="biFarve">
              <path
                d="M41.34,74.19c4.64-10.7,10.57-20.84,17.69-30.08.91-1.18,1.85-2.35,2.8-3.51.19-.23.38-.46.57-.68l.28-.34c.31-.19.31-.3,0-.32l-.22-.07c.14.15.26.33.36.52.25.4.47.84.7,1.26.74,1.33,1.48,2.66,2.22,3.99.35.63.7,1.26,1.05,1.89.32.57,1.36,1.86,1.4,2.52.03.47.2-.14-.13.5-.15.29-.58.57-.81.81-.49.49-.97.98-1.45,1.47-1.12,1.15-2.22,2.32-3.31,3.5-2.02,2.19-3.98,4.44-5.88,6.74-2.13,2.57-4.18,5.21-6.16,7.9-.54.74-1.06,1.5-1.61,2.23-.52.69-.89.8-1.77.8-1.78,0-3.55-.09-5.32-.25l1.45,1.9c2.6-6.16,5.81-12.07,9.53-17.63,1.85-2.76,3.82-5.42,5.93-7.99,1.78-2.16,3.95-5.07,7.04-5.02l-1.45-1.1c.41,3.02-1.54,5.79-3.5,7.87s-4.26,4.13-6.24,6.36c-3.96,4.46-7.33,9.42-10.02,14.75l2.74,1.16c2.97-8.7,8.88-15.91,14.66-22.89,1.22-1.48-.89-3.61-2.12-2.12-6.12,7.41-12.28,15-15.43,24.22-.54,1.6,1.97,2.68,2.74,1.16,2.9-5.74,6.58-11.06,11.01-15.73s9.99-8.66,9.05-15.55c-.09-.65-.85-1.09-1.45-1.1-3.36-.06-5.98,2.18-8.07,4.59-2.42,2.79-4.66,5.77-6.76,8.81-4.2,6.1-7.7,12.62-10.57,19.43-.41.98.6,1.82,1.45,1.9,1.69.16,3.39.25,5.09.25s3.04-.3,4.14-1.68c2.17-2.72,4.12-5.63,6.31-8.35s4.49-5.41,6.86-8.01c1.13-1.24,2.28-2.47,3.45-3.68,1.09-1.13,2.58-2.23,3.37-3.59s.05-2.73-.66-3.99c-.94-1.68-1.87-3.36-2.81-5.04-1.1-1.98-3.03-7.32-6.18-5.23-1.2.8-2.14,2.35-3.02,3.46-1.09,1.37-2.17,2.75-3.21,4.16-1.98,2.66-3.87,5.4-5.66,8.2-4.1,6.41-7.67,13.14-10.69,20.12-.76,1.75,1.82,3.28,2.59,1.51h0Z"
                style="fill: #010101;"></path>
            </g>
            <path id="stik" d="M75.32,73.56l4.12,1.25c-.66-1.39-1.32-2.77-1.97-4.16" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="vinge" d="M46.88,24.8c-4.17-5.79-6.55-13.72-3.26-20.05,1.37-2.64,4.31-4.95,7.14-4.04,1.8.58,3.02,2.35,3.47,4.19s.27,3.77.08,5.66c.91-3.41,2.79-6.86,6.03-8.26,3.82-1.65,8.68.32,10.64,3.99s1.1,8.5-1.68,11.6c-.2.22-.41.44-.62.65-1.58,1.54-3.42,2.77-5.26,3.99-3.07,2.04-6.14,4.09-9.2,6.13" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="vinge-2" data-name="vinge" d="M54.96,28.27c8.01,3.15,18.13-.23,22.36-7.82.71-1.28,1.04-2.79.69-4.21-.71-2.84-5.05-4.86-5.41-3.59-1.63,5.8-17.64,15.63-17.64,15.63Z" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="foelehorn" d="M20.93,20.72c3.22.67,6.18-1.85,8.26-4.4,1.83-2.25,3.45-4.67,4.81-7.22.84-1.58,1.5-3.77.15-4.95-.54-.48-1.29-.64-2.02-.72-1.1-.12-2.3-.05-3.19.61s-1.28,2.07-.55,2.91,2.5.25,2.33-.85" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt" d="M88.55,98.65c0,3.1,0,6.19,0,9.29" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-2" data-name="effekt" d="M91.19,117.27l2.73,4.92" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-3" data-name="effekt" d="M97.8,126.84c1.97,1.67,4.48,2.71,7.06,2.9" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-4" data-name="effekt" d="M125.07,127.16l5.28-.25" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-5" data-name="effekt" d="M110.42,129.74h8.79" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-6" data-name="effekt" d="M134.21,120.13c1.72-1.52,3.18-3.35,4.3-5.36" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-7" data-name="effekt" d="M141.49,110.4c-.44-2.63.76-5.47,2.95-6.99" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-8" data-name="effekt" d="M150.3,99.96c2.58-.69,5.44-.24,7.68,1.21" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-9" data-name="effekt" d="M160.76,106.02c.44,2.62.39,5.32-.15,7.92" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-10" data-name="effekt" d="M153.2,118.57c-2.74.3-5.53.14-8.22-.47" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-11" data-name="effekt" d="M134.07,110.14c-1.38-3.63-1.84-7.61-1.32-11.45" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-12" data-name="effekt" d="M139.62,89.18c2.64-2.3,5.81-3.97,9.2-4.84" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-13" data-name="effekt" d="M162.91,78.08c1.47-2.34,2.8-4.78,3.97-7.29" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
            <path id="effekt-14" data-name="effekt" d="M166.97,58.83c-.16-2.14-1.38-4.18-3.18-5.33" style="fill: none; stroke: #010101; stroke-miterlimit: 10;"></path>
          </g>
        </svg>
      </div>

      <div class="svgContainer">
        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.04 211.48">
            <g id="Blomst4">
              <path id="blad" d="M11.15,7.96c-.4-.78-1.62-.95-2.22-.32-1.23.99-1.16,3.11.03,4.14s3.17.87,4.3-.22,1.41-2.92.81-4.37c-.7-.27,1.24-1.4.54-1.68,2.04.4,4.83.4,5.44-1.59.41-1.34-.67-2.8-2.01-3.23s-2.81-.06-4.1.49c-.48,1.44.15,3.18,1.45,3.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M17.47,11.08c-1.43-.07-2.39-1.83-1.86-3.15s2.2-1.98,3.57-1.58c1.86.54,2.95,2.89,2.16,4.66s-3.28,2.52-4.92,1.49" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M12.87,14.23c-1.5-.07-3.43.14-3.87,1.58-.33,1.07.51,2.22,1.54,2.64s2.2.31,3.32.18c1.02-.12,2.11-.28,2.86-.98,1.09-1.03.92-3.03-.27-3.95s-3.08-.63-4.05.51" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M17.68,22.86c-.33-1.34-.65-2.72-.47-4.08s1.02-2.73,2.33-3.15c1.7-.54,3.63.89,3.86,2.66s-1.05,3.52-2.74,4.11-3.62.11-5.04-.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M7.47,20.23c1.4-.91,3.52-.17,4.2,1.36s-.05,3.48-1.48,4.34-3.37.67-4.72-.31c-.45-.32-.85-.74-1.08-1.24-.45-.99-.11-2.28.76-2.92s2.2-.58,3.01.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M18.44,27.18c-.54-1.84,1.81-3.28,3.73-3.23.68.02,1.37.14,1.95.49,1.94,1.17,1.38,4.56-.7,5.47s-4.64-.38-5.7-2.38" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M11.55,29.83c-1.49-1.74.2-4.83,2.5-4.95s4.25,2.08,4.42,4.37c.03.44.01.91-.22,1.29-.25.41-.71.65-1.16.84-2.36,1-5.01,1.31-7.53.86" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-8" data-name="blad" d="M5.27,28.05c-.67,1.74-1.34,3.66-.72,5.42s3.25,2.77,4.39,1.3c.32-.41.47-.93.58-1.44.36-1.58.46-3.41-.59-4.65s-3.57-1.05-3.85.55" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-9" data-name="blad" d="M19.02,36.59c-1.71-.86-1.26-3.69.36-4.72s3.69-.81,5.59-.56c.54.07,1.13.16,1.53.54.33.31.48.78.54,1.23.3,2.28-1.5,4.58-3.77,5.01s-4.68-.91-5.71-2.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-10" data-name="blad" d="M8.93,37.86c-.48-2.05,1.74-4.02,3.84-3.81s3.75,2.02,4.43,4.01c.33.97.41,2.19-.36,2.86-.43.37-1.04.47-1.61.55-1.89.25-3.8.37-5.71.38-1.1,0-2.29-.06-3.14-.76s-1.01-2.27-.04-2.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-11" data-name="blad" d="M20.29,42.66c-1.05-.97-2.91-.3-3.57.97s-.42,2.8,0,4.16c1.99.62,4.31-.02,5.7-1.57s1.77-3.93.94-5.84c-1.22-.79-3.12.36-3,1.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-12" data-name="blad" d="M6.2,45.13c1.82-1.53,4.2-2.36,6.57-2.31.96.02,2,.22,2.63.95.95,1.08.51,2.89-.56,3.85s-2.57,1.27-3.99,1.46c-1.19.16-2.48.25-3.53-.35s-1.63-2.13-.84-3.05" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-13" data-name="blad" d="M1.92,41.99c1.31-.37,2.97.11,3.43,1.39.51,1.44-1.03,3.06-2.54,2.84s-2.53-1.92-2.27-3.42c.25-.03.51-.07.76-.1" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-14" data-name="blad" d="M27.53,50.58c1.74-3.05-3.31-4.89-5.19-2.65-.88,1.06-1.06,3,.1,3.73,1.37.85,4.26.36,5.08-1.08Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-15" data-name="blad" d="M14.44,51.85c-.5-.6.11-1.48.75-1.93.75-.54,1.67-.97,2.58-.82,1.5.26,2.28,1.88,2.82,3.3.27.71-.18,1.54-.84,1.93s-1.46.44-2.22.45c-.94,0-1.94-.05-2.74-.55s-1.31-1.58-.35-2.38Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-16" data-name="blad" d="M13.51,55.04c-.98,4.05-7.56,2.88-7.41-1.17s8.51-3.37,7.41,1.17Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-17" data-name="blad" d="M3.44,60.88c-.67-.65-.4-1.89.36-2.45s1.79-.56,2.7-.33c1.27.32,2.55,1.21,2.72,2.51.18,1.37-.98,2.65-2.32,3-1.09.29-2.36.05-3.12-.78s-.83-2.28-.35-1.95Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-18" data-name="blad" d="M4,54.71c-.3.33-.84.09-1.19-.19-.67-.54-1.33-1.27-1.27-2.13.07-.86.88-1.51,1.72-1.69s1.72.02,2.56.21" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-19" data-name="blad" d="M14.85,57.15c-.89,1.09-1.81,2.64-.98,3.77.58.81,1.84.89,2.69.37s1.36-1.46,1.63-2.42c.28-.96.35-2.07-.23-2.89s-2-1.01-2.53-.17" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-20" data-name="blad" d="M19.56,57.59c.22.81,1.21,1.22,2.02,1.03s1.45-.84,1.9-1.54c.84-1.31,1.19-2.94.95-4.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-21" data-name="blad" d="M19.47,60.81c-.54.12-.65.92-.3,1.35s.94.57,1.48.65c.95.15,1.95.24,2.86-.06s1.73-1.09,1.8-2.05-.84-1.95-1.78-1.74" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-22" data-name="blad" d="M9.01,62.79c-.14,1.14-.24,2.43.5,3.31.36.43.88.7,1.42.87,1.17.37,2.52.28,3.51-.44s1.5-2.12,1-3.24c-.46-1.03-1.62-1.59-2.74-1.64s-2.21.33-3.68,1.13Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-23" data-name="blad" d="M18.91,64.32c-.73.26-1.1,1.15-.94,1.9s.74,1.37,1.39,1.77c1.31.81,3.15.88,4.3-.14s1.13-3.19-.21-3.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-24" data-name="blad" d="M3.56,73.62c.99-.16,1.72-.46,3.38-1.15,1.61-1.24,1.97-3.01,2.33-4.77l-1.57-2.09c-1.96.47-3.68.5-4.47,2.74-.39,1.1-.39,2.3-.39,3.46,0,.4,0,.84.25,1.17l.47.64Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-25" data-name="blad" d="M10.76,73.32c-.05.46-.08.93.08,1.37.35.94,1.54,1.36,2.5,1.08s1.67-1.11,2.09-2.02c.61-1.31.69-2.93-.11-4.13-.64-.97-2.44-1.89-3.46-.96-.84.76-.99,3.63-1.1,4.67Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-26" data-name="blad" d="M19.21,69.17c-.76.22-1.53.44-2.16.91s-1.09,1.25-.97,2.02c.21,1.31,1.79,1.82,3.09,2.07,2.14.41,4.56,1.06,6.52-.31,1.55-1.08,2.26-3.36,1.3-4.99-.43-.73-1.36-1.3-2.1-.89" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-27" data-name="blad" d="M6.26,74.73c-.5.36-.46,1.17-.04,1.62s1.08.57,1.69.54c.78-.04,1.62-.39,1.93-1.11s-.3-1.74-1.07-1.58" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-28" data-name="blad" d="M24.54,76.59c-.74.85-.4,2.33.57,2.91s2.31.28,3.08-.54,1.02-2.04.82-3.15c-.2-1.12-.95-2.24-2.07-2.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-29" data-name="blad" d="M17.25,79.67c.93.38,1.97.39,2.97.39.95,0,1.95,0,2.78-.47s1.38-1.57.92-2.4c-.31-.56-.95-.83-1.56-1.01-1.27-.38-4.09-1.17-5.42-.74-2.34.75-1.53,3.5.3,4.24Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-30" data-name="blad" d="M11.28,78.25c-.83-.14-1.65.42-2.09,1.14s-.58,1.57-.71,2.41c-.04.26-.08.53.03.77.12.24.37.39.61.5,1.76.78,4,.23,5.21-1.26.87-1.07,1.16-2.69.4-3.83s-2.71-1.37-3.5-.24" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-31" data-name="blad" d="M3.62,77.15c-1.09.07-2.09.86-2.43,1.9s.02,2.26.86,2.96c1.23,1.02,3.04.79,4.61.5" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M15.93,81.7c.9,3.47,1.8,6.94,2.42,10.46,1.02,5.74,1.29,11.59,1.54,17.42.26,6.11.49,12.21.69,18.32.42,12.83.67,25.99-3.49,38.14" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-32" data-name="blad" d="M20.05,98.33c.63.43,1.55-.06,1.84-.76s.13-1.5-.05-2.24-.37-1.53-.13-2.25c.5-1.52,2.44-1.87,4.03-1.98.43-.03.98.03,1.09.45.33,1.3.59,2.87-.37,3.81-.34.34-.79.53-1.21.77-1.04.6-1.9,1.52-2.44,2.6" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-33" data-name="blad" d="M19.72,108.61c-1.94.18-3.57-1.44-4.62-3.08s-1.92-3.53-3.6-4.52c-.51-.3-1.2-.49-1.65-.1-.16.14-.26.33-.35.52-.45.97-.69,2.11-.3,3.11.4,1.03,1.4,1.73,2.46,2.05s2.18.31,3.29.29" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-34" data-name="blad" d="M20.8,116.8c1.42.17,2.91-.52,3.71-1.7.98-1.45.95-3.48,2.13-4.77.84-.92,2.27-1.28,3.42-.78s1.87,1.85,1.57,3.06c-.18.71-.66,1.31-1.22,1.79-1.58,1.35-3.89,1.8-5.86,1.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-35" data-name="blad" d="M20.5,133.35c-2.53.63-5.16-1.04-6.57-3.23-.61-.96-1.18-2.11-2.28-2.42-1.1-.31-2.28.47-2.81,1.49s-.57,2.21-.6,3.35c-.02.66.55,1.22,1.19,1.42s1.31.11,1.97.02c1.65-.22,3.43-.51,4.59-1.7" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-36" data-name="blad" d="M21.27,150.48c2.01.3,4.37.49,5.77-.99.1-.11.2-.22.31-.32.48-.43,1.18-.49,1.82-.47,2.5.1,5.2,1.77,5.36,4.27.06,1-1.2,1.5-2.19,1.5-2.9-.02-5.69-1.94-6.75-4.64" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-37" data-name="blad" d="M18.38,211.26c-6.6-13.85-4.22-30.1-1.69-45.23-2.22.36-5.96-1.1-7.94-2.15-.63-.33-1.34-.81-1.34-1.52,0-.59.55-1.06,1.12-1.22.91-.25,1.96.12,2.5.89s.55,1.88.01,2.66" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-38" data-name="blad" d="M17.32,169.78c1.21.16,2.44-.02,3.66,0s2.52.27,3.38,1.13,1.04,2.47.09,3.24c-.84.68-2.23.36-2.81-.55s-.37-2.19.35-2.99" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-39" data-name="blad" d="M14.37,183.65c-1.33.55-2.97.23-4-.77-.48-.47-.83-1.06-1.3-1.55-.66-.69-1.65-1.15-2.58-.94-.51.12-.98.44-1.26.88-.77,1.2.02,2.95,1.34,3.49s2.87.1,4-.76" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.98 210.67">
            <g id="Rose">
              <path id="rose" d="M22.73,11.28c-2.04-.77-4.03-1.68-5.97-2.71-.77.51.17,1.78,1.03,2.06,2.3.75,4.79.71,7.07-.12.56-3.03-1.48-6.05-3.99-7.31s-5.37-1.19-8.12-1.09c-1.19.04-2.41.09-3.5.63s-2.03,1.68-2.04,3.02c-.02,2.22-.04,4.49.56,6.61s1.93,4.1,3.81,4.78c.81.29,1.68.33,2.54.35,4.96.09,9.93-.48,14.78-1.69,1.86-.46,3.75-1.05,5.3-2.28s2.74-3.25,2.64-5.39c-.1-2.07-1.38-3.9-2.96-4.96s-3.43-1.5-5.26-1.82c-6.13-1.08-12.41-1.11-18.54-.08-1.41.24-2.81.47-4.22.71-3.25,7.93-2.98,17.14-1.52,25.72.79,4.62,1.93,9.25,4.14,13.25s5.59,7.36,9.66,8.48c3.29.91,8.15,1.2,10.97-.9,1.88-1.4,3.02-3.72,4.09-5.94,4.16-8.67,8.44-17.88,8.05-27.72-.1-2.57-.69-5.42-2.61-6.83" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="streg" d="M17.64,48.69c-1.32-7.66-1.32-15.68,0-23.33.59-3.44,1.91-7.35,4.65-8.04" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stilk" d="M22.19,50.1c-.49,11.2,2.79,22.17,4.45,33.25,1.88,12.57,1.68,25.44-.59,37.94-2.6,14.31-7.89,28.14-9.13,42.63-1.38,16.12,2.47,32.64,10.83,46.49" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik" d="M30.35,86.41h-3.09" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-2" data-name="stik" d="M22.99,83.09h3.32" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-3" data-name="stik" d="M26.81,129.14h-1.7" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-4" data-name="stik" d="M21.29,125.91h3.03" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-5" data-name="stik" d="M28.81,106.99h2.42" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-6" data-name="stik" d="M24.57,96.44h2.79" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-7" data-name="stik" d="M22.99,58.13h2.91" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-8" data-name="stik" d="M18.5,54.25h3.88" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="blad" d="M27.56,117.87c2,.84,4.24-.89,5.08-2.88s.84-4.25,1.54-6.3c1.01-3,3.59-5.42,6.65-6.24,1.42-.38,2.92-.44,4.34-.84s2.83-1.27,3.32-2.66c-1.14,4.13-2.33,8.36-4.94,11.76s-6.99,5.79-11.15,4.78" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="blad-2" data-name="blad" d="M27.6,101.7c-3.22.27-6.86.41-9.21-1.8-3.57-3.35-1.79-9.67-4.58-13.68-3.01-4.33-9.96-4.19-13.13-8.4.38,3.8,1.11,7.58,2.17,11.25.42,1.45.92,2.94,1.95,4.04,1.29,1.37,3.2,1.93,5.02,2.44,2.24.62,4.49,1.25,6.73,1.87" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.97 208.9">
            <g id="Blomst3">
              <path
                id="blomst"
                d="M35.42.57c2.55,2.28,3.94,3.52,4.39,5.48.24,1.84,1.73,13.13-2.23,25-7.96,8.14-6.06,2.89-3.28-2.04,3.52-4.33,6.15-7.57,9.92-10.72,4.1.77,9.05,1.71,11.22,8.34-2.17,4.54-4.34,9.09-9.35,11.61-4.92,1.09-9.83,2.18-14.95,2.17-4.9,1.18,3.6,2.37,13.99-1.8,5.81,6.3,8.4,9.11,9.02,13.16.19,3.81.3,6.07.27,8.49-1.19,1.93-2.39,3.86-5.14,5-1.88-1.28-11.79-8.01-19.16-18.41-3.07-11.59-.7-4.9,1.67,1.8s3.76,10.61,5.16,14.83c-1.11,4-2.23,8-7.05,11.19-3.57-2.12-6.44-11.46-6.12-21.75,3.45-9.14,1.13-.77-5.8,6.15-8.37,2.32-11.71,3.25-16.2,2.93-1.26-3.23-2.86-7.32,2.21-10.68,4.13-1.49,10.65-3.84,17.17-6.19,6.52-2.35-4.67,1.19-18.03-4.4-5.34-10.46.46-10.74,6.36-11.01,5.64,1.38,11.28,2.76,16.73,6.05,2.61,5.18-1.96.92-6.61-3.46-2.98-5.5-5.96-11-7.02-17.93l2.85-5.57c5.05,4.49,6.73,10.62,10.4,15.56,5.69-7.78-2.42-19.4,9.58-23.84Z"
                style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M35.7,208.9c-.28-19.15-6.79-37.75-7.63-56.88-1.51-34.17,14.91-69.42,3.47-101.65" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad" d="M30.38,118.22c3.88-.3,5.28-5.09,6.82-8.67,1.86-4.33,5.48-8.07,10.04-9.24,1.54-.39,3.26-.47,4.64.31s2.24,2.62,1.52,4.04c-.6,1.18-1.99,1.68-3.27,2.04-3.99,1.12-8.09,1.87-12.22,2.22" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M31.84,109.12c-6.92-6.14-13.84-12.27-20.76-18.41-1.75-1.55-4.11-3.21-6.23-2.21-1.61,2.66.33,6.34,3.16,7.64s6.12.86,9.18.28" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.04 211.48">
            <g id="Blomst4">
              <path id="blad" d="M11.15,7.96c-.4-.78-1.62-.95-2.22-.32-1.23.99-1.16,3.11.03,4.14s3.17.87,4.3-.22,1.41-2.92.81-4.37c-.7-.27,1.24-1.4.54-1.68,2.04.4,4.83.4,5.44-1.59.41-1.34-.67-2.8-2.01-3.23s-2.81-.06-4.1.49c-.48,1.44.15,3.18,1.45,3.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M17.47,11.08c-1.43-.07-2.39-1.83-1.86-3.15s2.2-1.98,3.57-1.58c1.86.54,2.95,2.89,2.16,4.66s-3.28,2.52-4.92,1.49" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M12.87,14.23c-1.5-.07-3.43.14-3.87,1.58-.33,1.07.51,2.22,1.54,2.64s2.2.31,3.32.18c1.02-.12,2.11-.28,2.86-.98,1.09-1.03.92-3.03-.27-3.95s-3.08-.63-4.05.51" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M17.68,22.86c-.33-1.34-.65-2.72-.47-4.08s1.02-2.73,2.33-3.15c1.7-.54,3.63.89,3.86,2.66s-1.05,3.52-2.74,4.11-3.62.11-5.04-.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M7.47,20.23c1.4-.91,3.52-.17,4.2,1.36s-.05,3.48-1.48,4.34-3.37.67-4.72-.31c-.45-.32-.85-.74-1.08-1.24-.45-.99-.11-2.28.76-2.92s2.2-.58,3.01.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M18.44,27.18c-.54-1.84,1.81-3.28,3.73-3.23.68.02,1.37.14,1.95.49,1.94,1.17,1.38,4.56-.7,5.47s-4.64-.38-5.7-2.38" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M11.55,29.83c-1.49-1.74.2-4.83,2.5-4.95s4.25,2.08,4.42,4.37c.03.44.01.91-.22,1.29-.25.41-.71.65-1.16.84-2.36,1-5.01,1.31-7.53.86" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-8" data-name="blad" d="M5.27,28.05c-.67,1.74-1.34,3.66-.72,5.42s3.25,2.77,4.39,1.3c.32-.41.47-.93.58-1.44.36-1.58.46-3.41-.59-4.65s-3.57-1.05-3.85.55" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-9" data-name="blad" d="M19.02,36.59c-1.71-.86-1.26-3.69.36-4.72s3.69-.81,5.59-.56c.54.07,1.13.16,1.53.54.33.31.48.78.54,1.23.3,2.28-1.5,4.58-3.77,5.01s-4.68-.91-5.71-2.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-10" data-name="blad" d="M8.93,37.86c-.48-2.05,1.74-4.02,3.84-3.81s3.75,2.02,4.43,4.01c.33.97.41,2.19-.36,2.86-.43.37-1.04.47-1.61.55-1.89.25-3.8.37-5.71.38-1.1,0-2.29-.06-3.14-.76s-1.01-2.27-.04-2.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-11" data-name="blad" d="M20.29,42.66c-1.05-.97-2.91-.3-3.57.97s-.42,2.8,0,4.16c1.99.62,4.31-.02,5.7-1.57s1.77-3.93.94-5.84c-1.22-.79-3.12.36-3,1.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-12" data-name="blad" d="M6.2,45.13c1.82-1.53,4.2-2.36,6.57-2.31.96.02,2,.22,2.63.95.95,1.08.51,2.89-.56,3.85s-2.57,1.27-3.99,1.46c-1.19.16-2.48.25-3.53-.35s-1.63-2.13-.84-3.05" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-13" data-name="blad" d="M1.92,41.99c1.31-.37,2.97.11,3.43,1.39.51,1.44-1.03,3.06-2.54,2.84s-2.53-1.92-2.27-3.42c.25-.03.51-.07.76-.1" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-14" data-name="blad" d="M27.53,50.58c1.74-3.05-3.31-4.89-5.19-2.65-.88,1.06-1.06,3,.1,3.73,1.37.85,4.26.36,5.08-1.08Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-15" data-name="blad" d="M14.44,51.85c-.5-.6.11-1.48.75-1.93.75-.54,1.67-.97,2.58-.82,1.5.26,2.28,1.88,2.82,3.3.27.71-.18,1.54-.84,1.93s-1.46.44-2.22.45c-.94,0-1.94-.05-2.74-.55s-1.31-1.58-.35-2.38Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-16" data-name="blad" d="M13.51,55.04c-.98,4.05-7.56,2.88-7.41-1.17s8.51-3.37,7.41,1.17Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-17" data-name="blad" d="M3.44,60.88c-.67-.65-.4-1.89.36-2.45s1.79-.56,2.7-.33c1.27.32,2.55,1.21,2.72,2.51.18,1.37-.98,2.65-2.32,3-1.09.29-2.36.05-3.12-.78s-.83-2.28-.35-1.95Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-18" data-name="blad" d="M4,54.71c-.3.33-.84.09-1.19-.19-.67-.54-1.33-1.27-1.27-2.13.07-.86.88-1.51,1.72-1.69s1.72.02,2.56.21" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-19" data-name="blad" d="M14.85,57.15c-.89,1.09-1.81,2.64-.98,3.77.58.81,1.84.89,2.69.37s1.36-1.46,1.63-2.42c.28-.96.35-2.07-.23-2.89s-2-1.01-2.53-.17" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-20" data-name="blad" d="M19.56,57.59c.22.81,1.21,1.22,2.02,1.03s1.45-.84,1.9-1.54c.84-1.31,1.19-2.94.95-4.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-21" data-name="blad" d="M19.47,60.81c-.54.12-.65.92-.3,1.35s.94.57,1.48.65c.95.15,1.95.24,2.86-.06s1.73-1.09,1.8-2.05-.84-1.95-1.78-1.74" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-22" data-name="blad" d="M9.01,62.79c-.14,1.14-.24,2.43.5,3.31.36.43.88.7,1.42.87,1.17.37,2.52.28,3.51-.44s1.5-2.12,1-3.24c-.46-1.03-1.62-1.59-2.74-1.64s-2.21.33-3.68,1.13Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-23" data-name="blad" d="M18.91,64.32c-.73.26-1.1,1.15-.94,1.9s.74,1.37,1.39,1.77c1.31.81,3.15.88,4.3-.14s1.13-3.19-.21-3.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-24" data-name="blad" d="M3.56,73.62c.99-.16,1.72-.46,3.38-1.15,1.61-1.24,1.97-3.01,2.33-4.77l-1.57-2.09c-1.96.47-3.68.5-4.47,2.74-.39,1.1-.39,2.3-.39,3.46,0,.4,0,.84.25,1.17l.47.64Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-25" data-name="blad" d="M10.76,73.32c-.05.46-.08.93.08,1.37.35.94,1.54,1.36,2.5,1.08s1.67-1.11,2.09-2.02c.61-1.31.69-2.93-.11-4.13-.64-.97-2.44-1.89-3.46-.96-.84.76-.99,3.63-1.1,4.67Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-26" data-name="blad" d="M19.21,69.17c-.76.22-1.53.44-2.16.91s-1.09,1.25-.97,2.02c.21,1.31,1.79,1.82,3.09,2.07,2.14.41,4.56,1.06,6.52-.31,1.55-1.08,2.26-3.36,1.3-4.99-.43-.73-1.36-1.3-2.1-.89" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-27" data-name="blad" d="M6.26,74.73c-.5.36-.46,1.17-.04,1.62s1.08.57,1.69.54c.78-.04,1.62-.39,1.93-1.11s-.3-1.74-1.07-1.58" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-28" data-name="blad" d="M24.54,76.59c-.74.85-.4,2.33.57,2.91s2.31.28,3.08-.54,1.02-2.04.82-3.15c-.2-1.12-.95-2.24-2.07-2.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-29" data-name="blad" d="M17.25,79.67c.93.38,1.97.39,2.97.39.95,0,1.95,0,2.78-.47s1.38-1.57.92-2.4c-.31-.56-.95-.83-1.56-1.01-1.27-.38-4.09-1.17-5.42-.74-2.34.75-1.53,3.5.3,4.24Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-30" data-name="blad" d="M11.28,78.25c-.83-.14-1.65.42-2.09,1.14s-.58,1.57-.71,2.41c-.04.26-.08.53.03.77.12.24.37.39.61.5,1.76.78,4,.23,5.21-1.26.87-1.07,1.16-2.69.4-3.83s-2.71-1.37-3.5-.24" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-31" data-name="blad" d="M3.62,77.15c-1.09.07-2.09.86-2.43,1.9s.02,2.26.86,2.96c1.23,1.02,3.04.79,4.61.5" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M15.93,81.7c.9,3.47,1.8,6.94,2.42,10.46,1.02,5.74,1.29,11.59,1.54,17.42.26,6.11.49,12.21.69,18.32.42,12.83.67,25.99-3.49,38.14" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-32" data-name="blad" d="M20.05,98.33c.63.43,1.55-.06,1.84-.76s.13-1.5-.05-2.24-.37-1.53-.13-2.25c.5-1.52,2.44-1.87,4.03-1.98.43-.03.98.03,1.09.45.33,1.3.59,2.87-.37,3.81-.34.34-.79.53-1.21.77-1.04.6-1.9,1.52-2.44,2.6" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-33" data-name="blad" d="M19.72,108.61c-1.94.18-3.57-1.44-4.62-3.08s-1.92-3.53-3.6-4.52c-.51-.3-1.2-.49-1.65-.1-.16.14-.26.33-.35.52-.45.97-.69,2.11-.3,3.11.4,1.03,1.4,1.73,2.46,2.05s2.18.31,3.29.29" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-34" data-name="blad" d="M20.8,116.8c1.42.17,2.91-.52,3.71-1.7.98-1.45.95-3.48,2.13-4.77.84-.92,2.27-1.28,3.42-.78s1.87,1.85,1.57,3.06c-.18.71-.66,1.31-1.22,1.79-1.58,1.35-3.89,1.8-5.86,1.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-35" data-name="blad" d="M20.5,133.35c-2.53.63-5.16-1.04-6.57-3.23-.61-.96-1.18-2.11-2.28-2.42-1.1-.31-2.28.47-2.81,1.49s-.57,2.21-.6,3.35c-.02.66.55,1.22,1.19,1.42s1.31.11,1.97.02c1.65-.22,3.43-.51,4.59-1.7" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-36" data-name="blad" d="M21.27,150.48c2.01.3,4.37.49,5.77-.99.1-.11.2-.22.31-.32.48-.43,1.18-.49,1.82-.47,2.5.1,5.2,1.77,5.36,4.27.06,1-1.2,1.5-2.19,1.5-2.9-.02-5.69-1.94-6.75-4.64" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-37" data-name="blad" d="M18.38,211.26c-6.6-13.85-4.22-30.1-1.69-45.23-2.22.36-5.96-1.1-7.94-2.15-.63-.33-1.34-.81-1.34-1.52,0-.59.55-1.06,1.12-1.22.91-.25,1.96.12,2.5.89s.55,1.88.01,2.66" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-38" data-name="blad" d="M17.32,169.78c1.21.16,2.44-.02,3.66,0s2.52.27,3.38,1.13,1.04,2.47.09,3.24c-.84.68-2.23.36-2.81-.55s-.37-2.19.35-2.99" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-39" data-name="blad" d="M14.37,183.65c-1.33.55-2.97.23-4-.77-.48-.47-.83-1.06-1.3-1.55-.66-.69-1.65-1.15-2.58-.94-.51.12-.98.44-1.26.88-.77,1.2.02,2.95,1.34,3.49s2.87.1,4-.76" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.14 211.18">
            <g id="Blomst1">
              <path id="blad" d="M29.87,117.23c-6.76-.58-13.01-4.42-17.87-9.35-3.4-3.45-6.36-7.79-6.6-12.63-.24-4.84,3.16-9.99,7.9-10.09,5.09-.11,8.75,5.04,10.98,9.77,4.31,9.16,7.03,19.07,7.98,29.12" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M30.71,129.99c-2.16-10.97,1.25-22.89,8.88-31.07,3.12-3.35,7.71-6.24,12.06-4.81,4.24,1.39,6.33,6.56,5.53,10.96-.8,4.39-3.79,8.06-7.01,11.15-5.34,5.12-11.62,9.25-19.47,13.77Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M36.55,48.25c8.35-.46,16.81,1.41,24.2,5.33,2.87,1.53,5.88,3.89,5.9,7.15.01,2.76-2.34,5.12-4.99,5.88s-5.5.21-8.12-.65c-9.08-2.99-16.78-9.94-16.98-17.71Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M35.06,48.7c-3.56-10.17-5.25-20.99-4.98-31.77.09-3.57.42-7.24,2.01-10.44S36.78.64,40.35.51c5.26-.2,9.36,5.17,9.75,10.42s-1.89,10.28-4.12,15.05c-4.81,10.3-9.62,20.6-14.44,30.9" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M37.14,48.86c1.69-12.75,10.26-23.79,21.83-28.11,3.04,2.9,6.4,7.07,4.79,10.7-.59,1.32-1.75,2.24-2.89,3.07-9.13,6.65-19.66,11.34-30.82,13.72" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M35.35,44.58c-.7,7.53-4.4,14.74-10.12,19.7-2.9,2.51-6.41,4.5-10.23,4.85-8.49.77-16.28-8.38-14.16-16.64.67-2.59,3.96-3.28,6.62-3.48,10.43-.78,20.86-1.56,27.88-4.42Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M35.35,49.4c-8.25-2.11-15.73-6.85-22.52-12.32-2.93-2.36-5.84-4.96-7.5-8.47s-1.78-8.13.62-11.1c2.98-3.69,8.68-3.37,12.45-.65s6.08,7.19,8.24,11.48c3.05,6.04,6.09,12.09,8.72,21.05Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M36.06,49.03c-1.51,19.47-4.69,38.8-5.79,58.3-1.1,19.5-.03,39.46,6.68,57.8,5.23,14.27,1.2,32.21-5.55,45.83" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 66.64 212.15">
            <g id="Blomst2">
              <path id="blad" d="M27.86,40.11c-2.89-2.55-1.02-7.92,2.6-9.24s7.72.42,10.56,3.02c1.06.97,2.02,2.08,2.6,3.39,1.52,3.47-.2,7.88-3.48,9.77-3.28,1.88-7.67,1.31-10.66-1.01s-4.6-6.17-1.62-5.92Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M34.71,31.72c2.6-6.1,9.55-11.29,16.41-12.26,6.86-.97,13.11,2.35,14.74,7.85.25.85.4,1.77.15,2.73-.22.83-.73,1.64-1.3,2.4-4.83,6.52-14.23,10.51-21.47,9.1" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M44.01,42.84c3.53-2.44,9.82-1.04,14,2.65,4.18,3.69,6.2,9.13,5.67,13.59-.53,4.46-3.35,7.95-7.1,10.13-.93.54-1.99,1.02-3.24.88-.94-.11-1.89-.55-2.81-.99-1.91-.91-3.84-1.82-5.6-3.08-5.06-3.63-7.76-9.34-10.11-14.63" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M36.49,49.4c-5.29,6.44-6.88,16.17-14.18,20.19-6.46,3.55-15.57.16-18.53-6.6s.39-15.45,6.91-18.89c3.02-1.59,7.1-2.01,9.61.31" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M27.56,43.93c-5.26-.37-10.68-.78-15.89-2.87S1.47,34.73.62,30.2c-.58-3.08.95-5.92,3.81-7.15s6.93-.82,10.31,1c2.84,1.53,5.06,3.87,7.18,6.14" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M25.31,34.87c-4.46-3.51-6.85-9.09-7.85-14.67-.73-4.09-.77-8.44.84-12.27,1.61-3.83,5.14-7.03,9.28-7.39,6.28-.54,11.52,5.62,12.33,11.87.81,6.25-1.57,12.43-3.91,18.28" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M35.02,51.29c-6.64,31.08-8.7,63.13-6.1,94.81,1.81,22.01,5.83,44.46.64,65.93" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M27.56,119.54c.14-3.25.66-6.49,1.55-9.63.31-1.08.69-2.2,1.51-2.97.7-.65,1.63-.98,2.52-1.32,6.4-2.39,12.33-6.04,17.35-10.67.79,9.42-4.47,19.08-12.82,23.51-3.14,1.67-7.16,2.57-10.11,1.07Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-8" data-name="blad" d="M8.33,97.36c3.58,3.38,26.65,27.88,13.54,30.92-5.56,1.29-9.3-5.14-10.98-9.22-1.41-3.41-2.34-7.01-2.77-10.67-.17-1.48.8-10.47.22-11.02Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.98 210.67">
            <g id="Rose">
              <path id="rose" d="M22.73,11.28c-2.04-.77-4.03-1.68-5.97-2.71-.77.51.17,1.78,1.03,2.06,2.3.75,4.79.71,7.07-.12.56-3.03-1.48-6.05-3.99-7.31s-5.37-1.19-8.12-1.09c-1.19.04-2.41.09-3.5.63s-2.03,1.68-2.04,3.02c-.02,2.22-.04,4.49.56,6.61s1.93,4.1,3.81,4.78c.81.29,1.68.33,2.54.35,4.96.09,9.93-.48,14.78-1.69,1.86-.46,3.75-1.05,5.3-2.28s2.74-3.25,2.64-5.39c-.1-2.07-1.38-3.9-2.96-4.96s-3.43-1.5-5.26-1.82c-6.13-1.08-12.41-1.11-18.54-.08-1.41.24-2.81.47-4.22.71-3.25,7.93-2.98,17.14-1.52,25.72.79,4.62,1.93,9.25,4.14,13.25s5.59,7.36,9.66,8.48c3.29.91,8.15,1.2,10.97-.9,1.88-1.4,3.02-3.72,4.09-5.94,4.16-8.67,8.44-17.88,8.05-27.72-.1-2.57-.69-5.42-2.61-6.83" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="streg" d="M17.64,48.69c-1.32-7.66-1.32-15.68,0-23.33.59-3.44,1.91-7.35,4.65-8.04" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stilk" d="M22.19,50.1c-.49,11.2,2.79,22.17,4.45,33.25,1.88,12.57,1.68,25.44-.59,37.94-2.6,14.31-7.89,28.14-9.13,42.63-1.38,16.12,2.47,32.64,10.83,46.49" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik" d="M30.35,86.41h-3.09" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-2" data-name="stik" d="M22.99,83.09h3.32" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-3" data-name="stik" d="M26.81,129.14h-1.7" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-4" data-name="stik" d="M21.29,125.91h3.03" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-5" data-name="stik" d="M28.81,106.99h2.42" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-6" data-name="stik" d="M24.57,96.44h2.79" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-7" data-name="stik" d="M22.99,58.13h2.91" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="stik-8" data-name="stik" d="M18.5,54.25h3.88" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="blad" d="M27.56,117.87c2,.84,4.24-.89,5.08-2.88s.84-4.25,1.54-6.3c1.01-3,3.59-5.42,6.65-6.24,1.42-.38,2.92-.44,4.34-.84s2.83-1.27,3.32-2.66c-1.14,4.13-2.33,8.36-4.94,11.76s-6.99,5.79-11.15,4.78" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
              <path id="blad-2" data-name="blad" d="M27.6,101.7c-3.22.27-6.86.41-9.21-1.8-3.57-3.35-1.79-9.67-4.58-13.68-3.01-4.33-9.96-4.19-13.13-8.4.38,3.8,1.11,7.58,2.17,11.25.42,1.45.92,2.94,1.95,4.04,1.29,1.37,3.2,1.93,5.02,2.44,2.24.62,4.49,1.25,6.73,1.87" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.97 208.9">
            <g id="Blomst3">
              <path
                id="blomst"
                d="M35.42.57c2.55,2.28,3.94,3.52,4.39,5.48.24,1.84,1.73,13.13-2.23,25-7.96,8.14-6.06,2.89-3.28-2.04,3.52-4.33,6.15-7.57,9.92-10.72,4.1.77,9.05,1.71,11.22,8.34-2.17,4.54-4.34,9.09-9.35,11.61-4.92,1.09-9.83,2.18-14.95,2.17-4.9,1.18,3.6,2.37,13.99-1.8,5.81,6.3,8.4,9.11,9.02,13.16.19,3.81.3,6.07.27,8.49-1.19,1.93-2.39,3.86-5.14,5-1.88-1.28-11.79-8.01-19.16-18.41-3.07-11.59-.7-4.9,1.67,1.8s3.76,10.61,5.16,14.83c-1.11,4-2.23,8-7.05,11.19-3.57-2.12-6.44-11.46-6.12-21.75,3.45-9.14,1.13-.77-5.8,6.15-8.37,2.32-11.71,3.25-16.2,2.93-1.26-3.23-2.86-7.32,2.21-10.68,4.13-1.49,10.65-3.84,17.17-6.19,6.52-2.35-4.67,1.19-18.03-4.4-5.34-10.46.46-10.74,6.36-11.01,5.64,1.38,11.28,2.76,16.73,6.05,2.61,5.18-1.96.92-6.61-3.46-2.98-5.5-5.96-11-7.02-17.93l2.85-5.57c5.05,4.49,6.73,10.62,10.4,15.56,5.69-7.78-2.42-19.4,9.58-23.84Z"
                style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M35.7,208.9c-.28-19.15-6.79-37.75-7.63-56.88-1.51-34.17,14.91-69.42,3.47-101.65" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad" d="M30.38,118.22c3.88-.3,5.28-5.09,6.82-8.67,1.86-4.33,5.48-8.07,10.04-9.24,1.54-.39,3.26-.47,4.64.31s2.24,2.62,1.52,4.04c-.6,1.18-1.99,1.68-3.27,2.04-3.99,1.12-8.09,1.87-12.22,2.22" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M31.84,109.12c-6.92-6.14-13.84-12.27-20.76-18.41-1.75-1.55-4.11-3.21-6.23-2.21-1.61,2.66.33,6.34,3.16,7.64s6.12.86,9.18.28" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.14 211.18">
            <g id="Blomst1">
              <path id="blad" d="M29.87,117.23c-6.76-.58-13.01-4.42-17.87-9.35-3.4-3.45-6.36-7.79-6.6-12.63-.24-4.84,3.16-9.99,7.9-10.09,5.09-.11,8.75,5.04,10.98,9.77,4.31,9.16,7.03,19.07,7.98,29.12" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M30.71,129.99c-2.16-10.97,1.25-22.89,8.88-31.07,3.12-3.35,7.71-6.24,12.06-4.81,4.24,1.39,6.33,6.56,5.53,10.96-.8,4.39-3.79,8.06-7.01,11.15-5.34,5.12-11.62,9.25-19.47,13.77Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M36.55,48.25c8.35-.46,16.81,1.41,24.2,5.33,2.87,1.53,5.88,3.89,5.9,7.15.01,2.76-2.34,5.12-4.99,5.88s-5.5.21-8.12-.65c-9.08-2.99-16.78-9.94-16.98-17.71Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M35.06,48.7c-3.56-10.17-5.25-20.99-4.98-31.77.09-3.57.42-7.24,2.01-10.44S36.78.64,40.35.51c5.26-.2,9.36,5.17,9.75,10.42s-1.89,10.28-4.12,15.05c-4.81,10.3-9.62,20.6-14.44,30.9" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M37.14,48.86c1.69-12.75,10.26-23.79,21.83-28.11,3.04,2.9,6.4,7.07,4.79,10.7-.59,1.32-1.75,2.24-2.89,3.07-9.13,6.65-19.66,11.34-30.82,13.72" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M35.35,44.58c-.7,7.53-4.4,14.74-10.12,19.7-2.9,2.51-6.41,4.5-10.23,4.85-8.49.77-16.28-8.38-14.16-16.64.67-2.59,3.96-3.28,6.62-3.48,10.43-.78,20.86-1.56,27.88-4.42Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M35.35,49.4c-8.25-2.11-15.73-6.85-22.52-12.32-2.93-2.36-5.84-4.96-7.5-8.47s-1.78-8.13.62-11.1c2.98-3.69,8.68-3.37,12.45-.65s6.08,7.19,8.24,11.48c3.05,6.04,6.09,12.09,8.72,21.05Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M36.06,49.03c-1.51,19.47-4.69,38.8-5.79,58.3-1.1,19.5-.03,39.46,6.68,57.8,5.23,14.27,1.2,32.21-5.55,45.83" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <div>
          <svg id="Layer_1" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.14 211.18">
            <g id="Blomst1">
              <path id="blad" d="M29.87,117.23c-6.76-.58-13.01-4.42-17.87-9.35-3.4-3.45-6.36-7.79-6.6-12.63-.24-4.84,3.16-9.99,7.9-10.09,5.09-.11,8.75,5.04,10.98,9.77,4.31,9.16,7.03,19.07,7.98,29.12" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-2" data-name="blad" d="M30.71,129.99c-2.16-10.97,1.25-22.89,8.88-31.07,3.12-3.35,7.71-6.24,12.06-4.81,4.24,1.39,6.33,6.56,5.53,10.96-.8,4.39-3.79,8.06-7.01,11.15-5.34,5.12-11.62,9.25-19.47,13.77Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-3" data-name="blad" d="M36.55,48.25c8.35-.46,16.81,1.41,24.2,5.33,2.87,1.53,5.88,3.89,5.9,7.15.01,2.76-2.34,5.12-4.99,5.88s-5.5.21-8.12-.65c-9.08-2.99-16.78-9.94-16.98-17.71Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-4" data-name="blad" d="M35.06,48.7c-3.56-10.17-5.25-20.99-4.98-31.77.09-3.57.42-7.24,2.01-10.44S36.78.64,40.35.51c5.26-.2,9.36,5.17,9.75,10.42s-1.89,10.28-4.12,15.05c-4.81,10.3-9.62,20.6-14.44,30.9" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-5" data-name="blad" d="M37.14,48.86c1.69-12.75,10.26-23.79,21.83-28.11,3.04,2.9,6.4,7.07,4.79,10.7-.59,1.32-1.75,2.24-2.89,3.07-9.13,6.65-19.66,11.34-30.82,13.72" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-6" data-name="blad" d="M35.35,44.58c-.7,7.53-4.4,14.74-10.12,19.7-2.9,2.51-6.41,4.5-10.23,4.85-8.49.77-16.28-8.38-14.16-16.64.67-2.59,3.96-3.28,6.62-3.48,10.43-.78,20.86-1.56,27.88-4.42Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="blad-7" data-name="blad" d="M35.35,49.4c-8.25-2.11-15.73-6.85-22.52-12.32-2.93-2.36-5.84-4.96-7.5-8.47s-1.78-8.13.62-11.1c2.98-3.69,8.68-3.37,12.45-.65s6.08,7.19,8.24,11.48c3.05,6.04,6.09,12.09,8.72,21.05Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
              <path id="stilk" d="M36.06,49.03c-1.51,19.47-4.69,38.8-5.79,58.3-1.1,19.5-.03,39.46,6.68,57.8,5.23,14.27,1.2,32.21-5.55,45.83" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            </g>
          </svg>
        </div>

        <img class="dankort" src="/public/img/dankortimg.webp" alt="dankortimg" />
      </div>
    </div>
  </section>

  <img class="danmarkskort" src="/imgs/danmarkskort.webp" alt="" />
<div/>
  <style>
      .danmarkskort {
  width: 300px;
  height: auto;
}
    
    .arealh1 {
      color: white;
      margin-bottom: 30px;
      font-size: 40px;
    }

    .arealCounter {
      background-color: var(--btn-hover-color);
      border-radius: 50px;
      padding: 20px;
      margin-bottom: 20px;
      margin-top: 90px;
      box-shadow: 0px 5px 22px 5px rgba(0, 0, 0, 0.2);
    }
    /***********DESKTOP SITE************/
    @media (min-width: 880px) {
      .container {
        background-color: var(--second-bg-color);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px;
        border-radius: 50px;
        margin-top: 150px;
      }

      .applepayTekst {
        margin-left: 30px;
        margin-right: 30px;
      }
      #moenterSvg {
        width: 760px;
      }

      .moenterContainer {
        display: flex;
        justify-content: center;
      }

      .grid-1-4 {
        width: 760px;
        margin-inline: auto;
      }

      .dankort {
        transform: rotate(90deg);
        position: relative;
        left: -150px;
        top: -150px;
      }

      .h2dankort {
        text-align: left;
      }
      .pdankort {
        text-align: left;
      }

      .dankortContainer {
        background-color: var(--second-bg-color);
        border-radius: 50px 50px 50px 50px;
        padding: 50px 50px 0px 50px;
        align-content: end;
      }

      #flytbarBlomst {
      }

      .svgContainer {
        display: flex;
        gap: 50px;
        align-items: end;
      }

      #Layer_1 {
        width: 50px;
        align-self: end;

        z-index: 1000;
      }

      #Layer1 {
        width: 150px;

        position: relative;
        top: 50px;
        left: 665px;

        transform: rotate(15deg);
      }

      .content2 {
        padding-top: 200px;
        padding-bottom: 200px;
      }

      .herovideo {
        border-radius: 50px 50px 50px 50px;
        max-width: 1200px;
        box-shadow: 0px 5px 22px 5px rgba(0, 0, 0, 0.2);
        margin-top: 20px;
        margin-bottom: 20px;
      }

      #fugl {
        width: 100px;
        position: relative;
        top: -40px;
        left: 350px;

        z-index: 10;
      }

      #sommerfugl {
        width: 150px;
        position: relative;
        top: -100px;
        left: 85px;

        z-index: 10;
      }

      /*Intro tekst*/
      .content1 {
        margin: 20px 200px 0px 200px;
      }
      .applepayOverskrift {
        margin-top: -60px;
      }
    }

    /************MOBIL SITE*************/
    /******basics*******/

    h1 {
      font-size: 24px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      text-align: center;
    }

    p {
      font-size: 15px;
      text-align: center;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .pcenter {
      text-align: center;
    }

    .knap {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .counter {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 880px) {
      .container {
        margin-top: 120px;
      }
      .applepayOverskrift {
        margin-top: 20px;
      }

      #fugl {
        width: 50px;
        position: relative;
        top: 27px;
        left: 260px;

        z-index: 10;
      }

      #sommerfugl {
        width: 50px;
        position: relative;
        top: -50px;
        left: 11px;

        z-index: 10;
      }

      .herovideo {
        border-radius: 50px 50px 50px 50px;
        max-width: 400px;
        box-shadow: 0px 5px 22px 5px rgba(0, 0, 0, 0.2);
        margin-top: 70px;
        margin-bottom: 70px;
      }
      /*Dankort Container*/
      #Layer1 {
        width: 100px;

        position: relative;
        top: 18px;
        left: 65px;

        transform: rotate(15deg);
      }

      .dankortContainer {
        background-color: var(--second-bg-color);
        padding: 20px 20px 0px 20px;
        border-radius: 30px 30px 30px 30px;
      }
      #Layer_1 {
        width: 30px;
        align-self: end;
      }

      .svgContainer {
        display: flex;
        align-items: end;
      }
      .dankort {
        transform: rotate(90deg);
        width: 100px;
        position: relative;
        top: -132px;
        left: -123px;
      }
      #flytbarBlomst {
        width: 30px;
        position: relative;
        top: 0;
        left: 195px;

        z-index: 10;
      }
      /***********Applepay section***********/
      .container {
        background-color: var(--second-bg-color);
        padding: 50px 20px 20px 20px;
        border-radius: 30px 30px 30px 30px;
      }

      .content2 {
        padding-top: 100px;
        padding-bottom: 100px;
      }
    }

    /**********samarbejde section**********/
    .grid-1-4 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .grid-1-4 p {
      font-size: 10px;
      justify-content: space-between;
    }

    /**********samarbejde section**********/

    .video-wrapper {
      display: flex;
      justify-content: center;
    }
    .samarbejdevideo {
      border-radius: 20px 20px 20px 20px;
      max-width: 250px;
      box-shadow: 0px 5px 22px 5px rgba(0, 0, 0, 0.2);
      margin-top: 70px;
      margin-bottom: 70px;
    }

    .marginFix {
      margin-left: 20px;
      margin-right: 20px;
    }
  </style>
</Layout>
