---
---
  <h1 id="count">0</h1>

  <script>
    let count = 3434346;

    setInterval(() => {
      count+= 67.67;
          document.getElementById("count").innerText =
      count.toLocaleString("da-DK");
    }, 1); // 1000 ms = 1 sekund
  </script>
