---
const { text, href } = Astro.props;
---

<a href={href} class="button">
  {text}
</a>

<style>
  .button {
    text-align: center;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-inline: 10px;
    background: var(--btn-color);
    color: var(--primary-bg-color);
    border-color: var(--btn-hover-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px 25px 25px 25px;
    text-decoration: none;
    display: block;
    margin-top: auto;
    transition: 
      background-color 0.3s ease,
      color 0.3s ease,
      transform 0.2s ease;
  }

  .button:hover {
    background: var(--btn-hover-color);
    color: var(--btn-color);
    border-color: var(--btn-color);
    transform: scale(1.05);
  }
</style>
