---
import "../css/global.css";
import Layout from "../layouts/layout.astro";
---

<footer>
  <section class="grid-1">
    <div class="footer-box">
      <ul>
        <h3>Dankort</h3>
        <li>
          <img src="billeder/Blomstfootercomponent.png" alt="" />Om Dankort
        </li>
        <li>
          <img src="billeder/Blomstfootercomponent.png" alt="" /> Presse
        </li>
        <li>
          <img src="billeder/Blomstfootercomponent.png" alt="" />Download logoer
        </li>
      </ul>

      <div>
        <ul>
          <h3>Support</h3>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />Kontakt salg
          </li>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />Kontakt
            Kundeservice
          </li>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />Support
            erhverv
          </li>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />Support
            privat
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <h3>Politikker</h3>
          <li>
            <img
              src="billeder/Blomstfootercomponent.png"
              alt=""
            />Privatlivspolitikker
          </li>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />Cookies
          </li>
          <li>
            <img src="billeder/Blomstfootercomponent.png" alt="" />AEE regulativ
          </li>
        </ul>
      </div>
    </div>
  </section>

  <style>
    footer {
      background: #ebeaea;
      padding: 3px 2px 6px;
    }

    /* GRID */

    .grid-1 {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 1 350px;
    }

    /* LIST */

    .grid-1 ul {
      list-style: none;
      padding: 70px;
    }

    /* TITLE */

    .grid-1 h3 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 25px;
      color: #111;
    }

    /* LIST ITEMS */

    .grid-1 li {
      font-family: "Raleway", sans-serif;
      font-size: 25px;
      color: #222;
      margin-bottom: 18px;
      display: flex;
      align-items: center;
      gap: 12px;
      white-space: nowrap;
    }
    /* FLOWER ICON */

    .footer-box {
      display: flex;
      gap: 20px;
    }

    .footer-box img {
      width: 25px;
    }

    /* @media (max-width: 768px) {
    .grid-1 {
      grid-template-columns: 1fr;

      gap: 40px;
    }

    .grid-1 h3 {
      font-size: 24px;
    }

    .grid-1 li {
      font-size: 20px;
    }
  } */
  </style>
</footer>
