---
const { text } = Astro.props;
---

<footer>
  <section class="grid-1">
    <div>
      <ul>
        <h3>Dankort</h3>
        <li>Om Dankort</li>
        <li>Presse</li>
        <li>Download logoer</li>
      </ul>
    </div>

    <div>
      <ul>
        <li>Kontakt salg</li>
        <li>Kontakt Kundeservice</li>
        <li>Support erhverv</li>
        <li>Support privat</li>
      </ul>
    </div>


    <div>
      <ul>
        <li>Privatlivspolitikker</li>
        <li>Cookies</li>
        <li>AEE regulativ</li>
      </ul>
    </div>
  </section>
</footer>
