---

---

<footer>
  <section class="grid-1">
    <div>
      <ul>
        <h3>Dankort</h3>
        <li>Om Dankort</li>
        <li>Presse</li>
        <li>Download logoer</li>
      </ul>
    </div>

    <div>
      <ul>
        <li>Kontakt salg</li>
        <li>Kontakt Kundeservice</li>
        <li>Support erhverv</li>
        <li>Support privat</li>
      </ul>
    </div>

    <div>
      <ul>
        <li>Privatlivspolitikker</li>
        <li>Cookies</li>
        <li>AEE regulativ</li>
      </ul>
    </div>
  </section>
</footer>
<style>
  footer {
    background: #efefef;

    padding: 60px 80px;
  }

  /* GRID */

  .grid-1 {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 80px;
  }

  /* LIST */

  .grid-1 ul {
    list-style: none;

    padding: 0;
  }

  /* TITLE */

  .grid-1 h3 {
    font-size: 32px;

    font-weight: 700;

    margin-bottom: 25px;

    color: #111;
  }

  /* LIST ITEMS */

  .grid-1 li {
    font-size: 28px;

    color: #222;

    margin-bottom: 18px;

    display: flex;

    align-items: center;

    gap: 12px;
  }

  /* FLOWER ICON */

  .grid-1 li::before {
    content: "✿";

    color: red;

    font-size: 24px;
  }



  @media (max-width: 768px) {
    .grid-1 {
      grid-template-columns: 1fr;

      gap: 40px;
    }

    .grid-1 h3 {
      font-size: 24px;
    }

    .grid-1 li {
      font-size: 20px;
    }
  }
</style>
