---

---

<header>
  <div class="logo">
    <a href="/">
      <img src="/public/img/logo.webp" alt="logo" />
    </a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="/">Forside</a></li>
      <li><a href="/naturomraader">Naturområder</a></li>
      <li><a href="/qa">Ofte stillede spørgsmål</a></li>
      <li><a href="*">Support</a></li>
      <li><a href="*">Politikker</a></li>
      <li>
        <a href="/"
          >Forside
          <svg id="blomstikon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.1 51.6">
            <g id="FooterBlomst">
              <path id="blad" d="M23.06,26.88c-1.75-4.11-2.64-8.58-2.6-13.04.03-3.64.82-7.55,3.5-10.02,2.68-2.47,7.66-2.55,9.51.59.75,1.28.88,2.84.84,4.32-.18,6.92-3.56,13.7-11.24,18.15Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-2" data-name="blad" d="M23.91,27.58c3.41-3.88,6.96-7.67,11.08-10.72,1.88-1.4,3.97-2.67,6.37-2.82s5.17,1.11,6.26,3.49c.98,2.13.37,4.63-1.01,6.24s-3.37,2.49-5.38,3.13c-5.4,1.73-11.33,2.08-17.32.67Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-3" data-name="blad" d="M21.88,28c-2.68,4.98-7.75,8.6-13.33,9.53-1.61.27-3.37.29-4.73-.59-2.61-1.7-2.24-5.97.02-8.11s5.63-2.59,8.74-2.55c3.11.03,6.29.44,9.3,1.73Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-4" data-name="blad" d="M21.88,26.88c-3.22-.41-6.19-1.9-8.96-3.59-1.99-1.21-3.95-2.56-5.33-4.43s-2.13-4.34-1.44-6.56,3.06-3.95,5.33-3.44c1.73.39,2.98,1.87,4.02,3.3,3.27,4.47,5.91,9.4,6.38,14.72Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-5" data-name="blad" d="M23.07,30.03c4.37-1.79,9.01-1.62,13.07-.31,4.05,1.31,7.58,3.67,10.93,6.21-.58,2.43-3.14,4.19-5.44,4.41s-4.36-.77-6.2-1.91c-4.34-2.69-8.01-6.33-12.36-8.39Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-6" data-name="blad" d="M23.5,29.3c2.17,3.01,3.83,6.39,4.88,9.95.59,2.01.99,4.15.49,6.18s-2.12,3.9-4.2,4.14c-1.52.17-2.99-.52-4.36-1.2-2.35-1.17-4.92-2.67-5.52-5.22-.71-3.04,1.74-5.82,3.99-7.99,2.06-1.99,4.13-3.98,4.73-5.86Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
            </g>
          </svg></a
        >
      </li>
      <li>
        <a href="/naturomraader"
          >Naturområder <svg id="blomstikon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.1 51.6">
            <g id="FooterBlomst">
              <path id="blad" d="M23.06,26.88c-1.75-4.11-2.64-8.58-2.6-13.04.03-3.64.82-7.55,3.5-10.02,2.68-2.47,7.66-2.55,9.51.59.75,1.28.88,2.84.84,4.32-.18,6.92-3.56,13.7-11.24,18.15Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-2" data-name="blad" d="M23.91,27.58c3.41-3.88,6.96-7.67,11.08-10.72,1.88-1.4,3.97-2.67,6.37-2.82s5.17,1.11,6.26,3.49c.98,2.13.37,4.63-1.01,6.24s-3.37,2.49-5.38,3.13c-5.4,1.73-11.33,2.08-17.32.67Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-3" data-name="blad" d="M21.88,28c-2.68,4.98-7.75,8.6-13.33,9.53-1.61.27-3.37.29-4.73-.59-2.61-1.7-2.24-5.97.02-8.11s5.63-2.59,8.74-2.55c3.11.03,6.29.44,9.3,1.73Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-4" data-name="blad" d="M21.88,26.88c-3.22-.41-6.19-1.9-8.96-3.59-1.99-1.21-3.95-2.56-5.33-4.43s-2.13-4.34-1.44-6.56,3.06-3.95,5.33-3.44c1.73.39,2.98,1.87,4.02,3.3,3.27,4.47,5.91,9.4,6.38,14.72Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-5" data-name="blad" d="M23.07,30.03c4.37-1.79,9.01-1.62,13.07-.31,4.05,1.31,7.58,3.67,10.93,6.21-.58,2.43-3.14,4.19-5.44,4.41s-4.36-.77-6.2-1.91c-4.34-2.69-8.01-6.33-12.36-8.39Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-6" data-name="blad" d="M23.5,29.3c2.17,3.01,3.83,6.39,4.88,9.95.59,2.01.99,4.15.49,6.18s-2.12,3.9-4.2,4.14c-1.52.17-2.99-.52-4.36-1.2-2.35-1.17-4.92-2.67-5.52-5.22-.71-3.04,1.74-5.82,3.99-7.99,2.06-1.99,4.13-3.98,4.73-5.86Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
            </g>
          </svg></a
        >
      </li>
      <li>
        <a href="/q&a"
          >Ofte stillede spørgsmål <svg id="blomstikon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.1 51.6">
            <g id="FooterBlomst">
              <path id="blad" d="M23.06,26.88c-1.75-4.11-2.64-8.58-2.6-13.04.03-3.64.82-7.55,3.5-10.02,2.68-2.47,7.66-2.55,9.51.59.75,1.28.88,2.84.84,4.32-.18,6.92-3.56,13.7-11.24,18.15Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-2" data-name="blad" d="M23.91,27.58c3.41-3.88,6.96-7.67,11.08-10.72,1.88-1.4,3.97-2.67,6.37-2.82s5.17,1.11,6.26,3.49c.98,2.13.37,4.63-1.01,6.24s-3.37,2.49-5.38,3.13c-5.4,1.73-11.33,2.08-17.32.67Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-3" data-name="blad" d="M21.88,28c-2.68,4.98-7.75,8.6-13.33,9.53-1.61.27-3.37.29-4.73-.59-2.61-1.7-2.24-5.97.02-8.11s5.63-2.59,8.74-2.55c3.11.03,6.29.44,9.3,1.73Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-4" data-name="blad" d="M21.88,26.88c-3.22-.41-6.19-1.9-8.96-3.59-1.99-1.21-3.95-2.56-5.33-4.43s-2.13-4.34-1.44-6.56,3.06-3.95,5.33-3.44c1.73.39,2.98,1.87,4.02,3.3,3.27,4.47,5.91,9.4,6.38,14.72Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-5" data-name="blad" d="M23.07,30.03c4.37-1.79,9.01-1.62,13.07-.31,4.05,1.31,7.58,3.67,10.93,6.21-.58,2.43-3.14,4.19-5.44,4.41s-4.36-.77-6.2-1.91c-4.34-2.69-8.01-6.33-12.36-8.39Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-6" data-name="blad" d="M23.5,29.3c2.17,3.01,3.83,6.39,4.88,9.95.59,2.01.99,4.15.49,6.18s-2.12,3.9-4.2,4.14c-1.52.17-2.99-.52-4.36-1.2-2.35-1.17-4.92-2.67-5.52-5.22-.71-3.04,1.74-5.82,3.99-7.99,2.06-1.99,4.13-3.98,4.73-5.86Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
            </g>
          </svg></a
        >
      </li>
      <li>
        <a href="*"
          >Support <svg id="blomstikon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.1 51.6">
            <g id="FooterBlomst">
              <path id="blad" d="M23.06,26.88c-1.75-4.11-2.64-8.58-2.6-13.04.03-3.64.82-7.55,3.5-10.02,2.68-2.47,7.66-2.55,9.51.59.75,1.28.88,2.84.84,4.32-.18,6.92-3.56,13.7-11.24,18.15Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-2" data-name="blad" d="M23.91,27.58c3.41-3.88,6.96-7.67,11.08-10.72,1.88-1.4,3.97-2.67,6.37-2.82s5.17,1.11,6.26,3.49c.98,2.13.37,4.63-1.01,6.24s-3.37,2.49-5.38,3.13c-5.4,1.73-11.33,2.08-17.32.67Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-3" data-name="blad" d="M21.88,28c-2.68,4.98-7.75,8.6-13.33,9.53-1.61.27-3.37.29-4.73-.59-2.61-1.7-2.24-5.97.02-8.11s5.63-2.59,8.74-2.55c3.11.03,6.29.44,9.3,1.73Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-4" data-name="blad" d="M21.88,26.88c-3.22-.41-6.19-1.9-8.96-3.59-1.99-1.21-3.95-2.56-5.33-4.43s-2.13-4.34-1.44-6.56,3.06-3.95,5.33-3.44c1.73.39,2.98,1.87,4.02,3.3,3.27,4.47,5.91,9.4,6.38,14.72Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-5" data-name="blad" d="M23.07,30.03c4.37-1.79,9.01-1.62,13.07-.31,4.05,1.31,7.58,3.67,10.93,6.21-.58,2.43-3.14,4.19-5.44,4.41s-4.36-.77-6.2-1.91c-4.34-2.69-8.01-6.33-12.36-8.39Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-6" data-name="blad" d="M23.5,29.3c2.17,3.01,3.83,6.39,4.88,9.95.59,2.01.99,4.15.49,6.18s-2.12,3.9-4.2,4.14c-1.52.17-2.99-.52-4.36-1.2-2.35-1.17-4.92-2.67-5.52-5.22-.71-3.04,1.74-5.82,3.99-7.99,2.06-1.99,4.13-3.98,4.73-5.86Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
            </g>
          </svg></a
        >
      </li>
      <li>
        <a href="*"
          >Politikker <svg id="blomstikon" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.1 51.6">
            <g id="FooterBlomst">
              <path id="blad" d="M23.06,26.88c-1.75-4.11-2.64-8.58-2.6-13.04.03-3.64.82-7.55,3.5-10.02,2.68-2.47,7.66-2.55,9.51.59.75,1.28.88,2.84.84,4.32-.18,6.92-3.56,13.7-11.24,18.15Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-2" data-name="blad" d="M23.91,27.58c3.41-3.88,6.96-7.67,11.08-10.72,1.88-1.4,3.97-2.67,6.37-2.82s5.17,1.11,6.26,3.49c.98,2.13.37,4.63-1.01,6.24s-3.37,2.49-5.38,3.13c-5.4,1.73-11.33,2.08-17.32.67Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-3" data-name="blad" d="M21.88,28c-2.68,4.98-7.75,8.6-13.33,9.53-1.61.27-3.37.29-4.73-.59-2.61-1.7-2.24-5.97.02-8.11s5.63-2.59,8.74-2.55c3.11.03,6.29.44,9.3,1.73Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-4" data-name="blad" d="M21.88,26.88c-3.22-.41-6.19-1.9-8.96-3.59-1.99-1.21-3.95-2.56-5.33-4.43s-2.13-4.34-1.44-6.56,3.06-3.95,5.33-3.44c1.73.39,2.98,1.87,4.02,3.3,3.27,4.47,5.91,9.4,6.38,14.72Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-5" data-name="blad" d="M23.07,30.03c4.37-1.79,9.01-1.62,13.07-.31,4.05,1.31,7.58,3.67,10.93,6.21-.58,2.43-3.14,4.19-5.44,4.41s-4.36-.77-6.2-1.91c-4.34-2.69-8.01-6.33-12.36-8.39Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
              <path id="blad-6" data-name="blad" d="M23.5,29.3c2.17,3.01,3.83,6.39,4.88,9.95.59,2.01.99,4.15.49,6.18s-2.12,3.9-4.2,4.14c-1.52.17-2.99-.52-4.36-1.2-2.35-1.17-4.92-2.67-5.52-5.22-.71-3.04,1.74-5.82,3.99-7.99,2.06-1.99,4.13-3.98,4.73-5.86Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10; stroke-width: 4px;"></path>
            </g>
          </svg></a
        >
      </li>

      <div>
        <svg id="blomst1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 55.97 208.9">
          <g id="Blomst3">
            <path
              id="blomst"
              d="M35.42.57c2.55,2.28,3.94,3.52,4.39,5.48.24,1.84,1.73,13.13-2.23,25-7.96,8.14-6.06,2.89-3.28-2.04,3.52-4.33,6.15-7.57,9.92-10.72,4.1.77,9.05,1.71,11.22,8.34-2.17,4.54-4.34,9.09-9.35,11.61-4.92,1.09-9.83,2.18-14.95,2.17-4.9,1.18,3.6,2.37,13.99-1.8,5.81,6.3,8.4,9.11,9.02,13.16.19,3.81.3,6.07.27,8.49-1.19,1.93-2.39,3.86-5.14,5-1.88-1.28-11.79-8.01-19.16-18.41-3.07-11.59-.7-4.9,1.67,1.8s3.76,10.61,5.16,14.83c-1.11,4-2.23,8-7.05,11.19-3.57-2.12-6.44-11.46-6.12-21.75,3.45-9.14,1.13-.77-5.8,6.15-8.37,2.32-11.71,3.25-16.2,2.93-1.26-3.23-2.86-7.32,2.21-10.68,4.13-1.49,10.65-3.84,17.17-6.19,6.52-2.35-4.67,1.19-18.03-4.4-5.34-10.46.46-10.74,6.36-11.01,5.64,1.38,11.28,2.76,16.73,6.05,2.61,5.18-1.96.92-6.61-3.46-2.98-5.5-5.96-11-7.02-17.93l2.85-5.57c5.05,4.49,6.73,10.62,10.4,15.56,5.69-7.78-2.42-19.4,9.58-23.84Z"
              style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="stilk" d="M35.7,208.9c-.28-19.15-6.79-37.75-7.63-56.88-1.51-34.17,14.91-69.42,3.47-101.65" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad" d="M30.38,118.22c3.88-.3,5.28-5.09,6.82-8.67,1.86-4.33,5.48-8.07,10.04-9.24,1.54-.39,3.26-.47,4.64.31s2.24,2.62,1.52,4.04c-.6,1.18-1.99,1.68-3.27,2.04-3.99,1.12-8.09,1.87-12.22,2.22" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-2" data-name="blad" d="M31.84,109.12c-6.92-6.14-13.84-12.27-20.76-18.41-1.75-1.55-4.11-3.21-6.23-2.21-1.61,2.66.33,6.34,3.16,7.64s6.12.86,9.18.28" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
          </g>
        </svg>
      </div>

      <div>
        <svg id="blomst2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.98 210.67">
          <g id="Rose">
            <path id="rose" d="M22.73,11.28c-2.04-.77-4.03-1.68-5.97-2.71-.77.51.17,1.78,1.03,2.06,2.3.75,4.79.71,7.07-.12.56-3.03-1.48-6.05-3.99-7.31s-5.37-1.19-8.12-1.09c-1.19.04-2.41.09-3.5.63s-2.03,1.68-2.04,3.02c-.02,2.22-.04,4.49.56,6.61s1.93,4.1,3.81,4.78c.81.29,1.68.33,2.54.35,4.96.09,9.93-.48,14.78-1.69,1.86-.46,3.75-1.05,5.3-2.28s2.74-3.25,2.64-5.39c-.1-2.07-1.38-3.9-2.96-4.96s-3.43-1.5-5.26-1.82c-6.13-1.08-12.41-1.11-18.54-.08-1.41.24-2.81.47-4.22.71-3.25,7.93-2.98,17.14-1.52,25.72.79,4.62,1.93,9.25,4.14,13.25s5.59,7.36,9.66,8.48c3.29.91,8.15,1.2,10.97-.9,1.88-1.4,3.02-3.72,4.09-5.94,4.16-8.67,8.44-17.88,8.05-27.72-.1-2.57-.69-5.42-2.61-6.83" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="streg" d="M17.64,48.69c-1.32-7.66-1.32-15.68,0-23.33.59-3.44,1.91-7.35,4.65-8.04" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stilk" d="M22.19,50.1c-.49,11.2,2.79,22.17,4.45,33.25,1.88,12.57,1.68,25.44-.59,37.94-2.6,14.31-7.89,28.14-9.13,42.63-1.38,16.12,2.47,32.64,10.83,46.49" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik" d="M30.35,86.41h-3.09" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-2" data-name="stik" d="M22.99,83.09h3.32" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-3" data-name="stik" d="M26.81,129.14h-1.7" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-4" data-name="stik" d="M21.29,125.91h3.03" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-5" data-name="stik" d="M28.81,106.99h2.42" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-6" data-name="stik" d="M24.57,96.44h2.79" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-7" data-name="stik" d="M22.99,58.13h2.91" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="stik-8" data-name="stik" d="M18.5,54.25h3.88" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="blad" d="M27.56,117.87c2,.84,4.24-.89,5.08-2.88s.84-4.25,1.54-6.3c1.01-3,3.59-5.42,6.65-6.24,1.42-.38,2.92-.44,4.34-.84s2.83-1.27,3.32-2.66c-1.14,4.13-2.33,8.36-4.94,11.76s-6.99,5.79-11.15,4.78" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
            <path id="blad-2" data-name="blad" d="M27.6,101.7c-3.22.27-6.86.41-9.21-1.8-3.57-3.35-1.79-9.67-4.58-13.68-3.01-4.33-9.96-4.19-13.13-8.4.38,3.8,1.11,7.58,2.17,11.25.42,1.45.92,2.94,1.95,4.04,1.29,1.37,3.2,1.93,5.02,2.44,2.24.62,4.49,1.25,6.73,1.87" fill="none" stroke="#DE2229" stroke-miterlimit="10"></path>
          </g>
        </svg>
      </div>

      <div>
        <svg id="blomst3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.04 211.48">
          <g id="Blomst4">
            <path id="blad" d="M11.15,7.96c-.4-.78-1.62-.95-2.22-.32-1.23.99-1.16,3.11.03,4.14s3.17.87,4.3-.22,1.41-2.92.81-4.37c-.7-.27,1.24-1.4.54-1.68,2.04.4,4.83.4,5.44-1.59.41-1.34-.67-2.8-2.01-3.23s-2.81-.06-4.1.49c-.48,1.44.15,3.18,1.45,3.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-2" data-name="blad" d="M17.47,11.08c-1.43-.07-2.39-1.83-1.86-3.15s2.2-1.98,3.57-1.58c1.86.54,2.95,2.89,2.16,4.66s-3.28,2.52-4.92,1.49" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-3" data-name="blad" d="M12.87,14.23c-1.5-.07-3.43.14-3.87,1.58-.33,1.07.51,2.22,1.54,2.64s2.2.31,3.32.18c1.02-.12,2.11-.28,2.86-.98,1.09-1.03.92-3.03-.27-3.95s-3.08-.63-4.05.51" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-4" data-name="blad" d="M17.68,22.86c-.33-1.34-.65-2.72-.47-4.08s1.02-2.73,2.33-3.15c1.7-.54,3.63.89,3.86,2.66s-1.05,3.52-2.74,4.11-3.62.11-5.04-.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-5" data-name="blad" d="M7.47,20.23c1.4-.91,3.52-.17,4.2,1.36s-.05,3.48-1.48,4.34-3.37.67-4.72-.31c-.45-.32-.85-.74-1.08-1.24-.45-.99-.11-2.28.76-2.92s2.2-.58,3.01.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-6" data-name="blad" d="M18.44,27.18c-.54-1.84,1.81-3.28,3.73-3.23.68.02,1.37.14,1.95.49,1.94,1.17,1.38,4.56-.7,5.47s-4.64-.38-5.7-2.38" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-7" data-name="blad" d="M11.55,29.83c-1.49-1.74.2-4.83,2.5-4.95s4.25,2.08,4.42,4.37c.03.44.01.91-.22,1.29-.25.41-.71.65-1.16.84-2.36,1-5.01,1.31-7.53.86" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-8" data-name="blad" d="M5.27,28.05c-.67,1.74-1.34,3.66-.72,5.42s3.25,2.77,4.39,1.3c.32-.41.47-.93.58-1.44.36-1.58.46-3.41-.59-4.65s-3.57-1.05-3.85.55" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-9" data-name="blad" d="M19.02,36.59c-1.71-.86-1.26-3.69.36-4.72s3.69-.81,5.59-.56c.54.07,1.13.16,1.53.54.33.31.48.78.54,1.23.3,2.28-1.5,4.58-3.77,5.01s-4.68-.91-5.71-2.97" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-10" data-name="blad" d="M8.93,37.86c-.48-2.05,1.74-4.02,3.84-3.81s3.75,2.02,4.43,4.01c.33.97.41,2.19-.36,2.86-.43.37-1.04.47-1.61.55-1.89.25-3.8.37-5.71.38-1.1,0-2.29-.06-3.14-.76s-1.01-2.27-.04-2.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-11" data-name="blad" d="M20.29,42.66c-1.05-.97-2.91-.3-3.57.97s-.42,2.8,0,4.16c1.99.62,4.31-.02,5.7-1.57s1.77-3.93.94-5.84c-1.22-.79-3.12.36-3,1.8" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-12" data-name="blad" d="M6.2,45.13c1.82-1.53,4.2-2.36,6.57-2.31.96.02,2,.22,2.63.95.95,1.08.51,2.89-.56,3.85s-2.57,1.27-3.99,1.46c-1.19.16-2.48.25-3.53-.35s-1.63-2.13-.84-3.05" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-13" data-name="blad" d="M1.92,41.99c1.31-.37,2.97.11,3.43,1.39.51,1.44-1.03,3.06-2.54,2.84s-2.53-1.92-2.27-3.42c.25-.03.51-.07.76-.1" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-14" data-name="blad" d="M27.53,50.58c1.74-3.05-3.31-4.89-5.19-2.65-.88,1.06-1.06,3,.1,3.73,1.37.85,4.26.36,5.08-1.08Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-15" data-name="blad" d="M14.44,51.85c-.5-.6.11-1.48.75-1.93.75-.54,1.67-.97,2.58-.82,1.5.26,2.28,1.88,2.82,3.3.27.71-.18,1.54-.84,1.93s-1.46.44-2.22.45c-.94,0-1.94-.05-2.74-.55s-1.31-1.58-.35-2.38Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-16" data-name="blad" d="M13.51,55.04c-.98,4.05-7.56,2.88-7.41-1.17s8.51-3.37,7.41,1.17Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-17" data-name="blad" d="M3.44,60.88c-.67-.65-.4-1.89.36-2.45s1.79-.56,2.7-.33c1.27.32,2.55,1.21,2.72,2.51.18,1.37-.98,2.65-2.32,3-1.09.29-2.36.05-3.12-.78s-.83-2.28-.35-1.95Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-18" data-name="blad" d="M4,54.71c-.3.33-.84.09-1.19-.19-.67-.54-1.33-1.27-1.27-2.13.07-.86.88-1.51,1.72-1.69s1.72.02,2.56.21" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-19" data-name="blad" d="M14.85,57.15c-.89,1.09-1.81,2.64-.98,3.77.58.81,1.84.89,2.69.37s1.36-1.46,1.63-2.42c.28-.96.35-2.07-.23-2.89s-2-1.01-2.53-.17" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-20" data-name="blad" d="M19.56,57.59c.22.81,1.21,1.22,2.02,1.03s1.45-.84,1.9-1.54c.84-1.31,1.19-2.94.95-4.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-21" data-name="blad" d="M19.47,60.81c-.54.12-.65.92-.3,1.35s.94.57,1.48.65c.95.15,1.95.24,2.86-.06s1.73-1.09,1.8-2.05-.84-1.95-1.78-1.74" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-22" data-name="blad" d="M9.01,62.79c-.14,1.14-.24,2.43.5,3.31.36.43.88.7,1.42.87,1.17.37,2.52.28,3.51-.44s1.5-2.12,1-3.24c-.46-1.03-1.62-1.59-2.74-1.64s-2.21.33-3.68,1.13Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-23" data-name="blad" d="M18.91,64.32c-.73.26-1.1,1.15-.94,1.9s.74,1.37,1.39,1.77c1.31.81,3.15.88,4.3-.14s1.13-3.19-.21-3.95" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-24" data-name="blad" d="M3.56,73.62c.99-.16,1.72-.46,3.38-1.15,1.61-1.24,1.97-3.01,2.33-4.77l-1.57-2.09c-1.96.47-3.68.5-4.47,2.74-.39,1.1-.39,2.3-.39,3.46,0,.4,0,.84.25,1.17l.47.64Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-25" data-name="blad" d="M10.76,73.32c-.05.46-.08.93.08,1.37.35.94,1.54,1.36,2.5,1.08s1.67-1.11,2.09-2.02c.61-1.31.69-2.93-.11-4.13-.64-.97-2.44-1.89-3.46-.96-.84.76-.99,3.63-1.1,4.67Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-26" data-name="blad" d="M19.21,69.17c-.76.22-1.53.44-2.16.91s-1.09,1.25-.97,2.02c.21,1.31,1.79,1.82,3.09,2.07,2.14.41,4.56,1.06,6.52-.31,1.55-1.08,2.26-3.36,1.3-4.99-.43-.73-1.36-1.3-2.1-.89" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-27" data-name="blad" d="M6.26,74.73c-.5.36-.46,1.17-.04,1.62s1.08.57,1.69.54c.78-.04,1.62-.39,1.93-1.11s-.3-1.74-1.07-1.58" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-28" data-name="blad" d="M24.54,76.59c-.74.85-.4,2.33.57,2.91s2.31.28,3.08-.54,1.02-2.04.82-3.15c-.2-1.12-.95-2.24-2.07-2.48" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-29" data-name="blad" d="M17.25,79.67c.93.38,1.97.39,2.97.39.95,0,1.95,0,2.78-.47s1.38-1.57.92-2.4c-.31-.56-.95-.83-1.56-1.01-1.27-.38-4.09-1.17-5.42-.74-2.34.75-1.53,3.5.3,4.24Z" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-30" data-name="blad" d="M11.28,78.25c-.83-.14-1.65.42-2.09,1.14s-.58,1.57-.71,2.41c-.04.26-.08.53.03.77.12.24.37.39.61.5,1.76.78,4,.23,5.21-1.26.87-1.07,1.16-2.69.4-3.83s-2.71-1.37-3.5-.24" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-31" data-name="blad" d="M3.62,77.15c-1.09.07-2.09.86-2.43,1.9s.02,2.26.86,2.96c1.23,1.02,3.04.79,4.61.5" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="stilk" d="M15.93,81.7c.9,3.47,1.8,6.94,2.42,10.46,1.02,5.74,1.29,11.59,1.54,17.42.26,6.11.49,12.21.69,18.32.42,12.83.67,25.99-3.49,38.14" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-32" data-name="blad" d="M20.05,98.33c.63.43,1.55-.06,1.84-.76s.13-1.5-.05-2.24-.37-1.53-.13-2.25c.5-1.52,2.44-1.87,4.03-1.98.43-.03.98.03,1.09.45.33,1.3.59,2.87-.37,3.81-.34.34-.79.53-1.21.77-1.04.6-1.9,1.52-2.44,2.6" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-33" data-name="blad" d="M19.72,108.61c-1.94.18-3.57-1.44-4.62-3.08s-1.92-3.53-3.6-4.52c-.51-.3-1.2-.49-1.65-.1-.16.14-.26.33-.35.52-.45.97-.69,2.11-.3,3.11.4,1.03,1.4,1.73,2.46,2.05s2.18.31,3.29.29" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-34" data-name="blad" d="M20.8,116.8c1.42.17,2.91-.52,3.71-1.7.98-1.45.95-3.48,2.13-4.77.84-.92,2.27-1.28,3.42-.78s1.87,1.85,1.57,3.06c-.18.71-.66,1.31-1.22,1.79-1.58,1.35-3.89,1.8-5.86,1.15" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-35" data-name="blad" d="M20.5,133.35c-2.53.63-5.16-1.04-6.57-3.23-.61-.96-1.18-2.11-2.28-2.42-1.1-.31-2.28.47-2.81,1.49s-.57,2.21-.6,3.35c-.02.66.55,1.22,1.19,1.42s1.31.11,1.97.02c1.65-.22,3.43-.51,4.59-1.7" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-36" data-name="blad" d="M21.27,150.48c2.01.3,4.37.49,5.77-.99.1-.11.2-.22.31-.32.48-.43,1.18-.49,1.82-.47,2.5.1,5.2,1.77,5.36,4.27.06,1-1.2,1.5-2.19,1.5-2.9-.02-5.69-1.94-6.75-4.64" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-37" data-name="blad" d="M18.38,211.26c-6.6-13.85-4.22-30.1-1.69-45.23-2.22.36-5.96-1.1-7.94-2.15-.63-.33-1.34-.81-1.34-1.52,0-.59.55-1.06,1.12-1.22.91-.25,1.96.12,2.5.89s.55,1.88.01,2.66" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-38" data-name="blad" d="M17.32,169.78c1.21.16,2.44-.02,3.66,0s2.52.27,3.38,1.13,1.04,2.47.09,3.24c-.84.68-2.23.36-2.81-.55s-.37-2.19.35-2.99" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
            <path id="blad-39" data-name="blad" d="M14.37,183.65c-1.33.55-2.97.23-4-.77-.48-.47-.83-1.06-1.3-1.55-.66-.69-1.65-1.15-2.58-.94-.51.12-.98.44-1.26.88-.77,1.2.02,2.95,1.34,3.49s2.87.1,4-.76" style="fill: none; stroke: #5c7351; stroke-miterlimit: 10;"></path>
          </g>
        </svg>
      </div>

      <div>
        <svg id="blomst4" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 67.14 211.18">
          <g id="Blomst1">
            <path id="blad" d="M29.87,117.23c-6.76-.58-13.01-4.42-17.87-9.35-3.4-3.45-6.36-7.79-6.6-12.63-.24-4.84,3.16-9.99,7.9-10.09,5.09-.11,8.75,5.04,10.98,9.77,4.31,9.16,7.03,19.07,7.98,29.12" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-2" data-name="blad" d="M30.71,129.99c-2.16-10.97,1.25-22.89,8.88-31.07,3.12-3.35,7.71-6.24,12.06-4.81,4.24,1.39,6.33,6.56,5.53,10.96-.8,4.39-3.79,8.06-7.01,11.15-5.34,5.12-11.62,9.25-19.47,13.77Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-3" data-name="blad" d="M36.55,48.25c8.35-.46,16.81,1.41,24.2,5.33,2.87,1.53,5.88,3.89,5.9,7.15.01,2.76-2.34,5.12-4.99,5.88s-5.5.21-8.12-.65c-9.08-2.99-16.78-9.94-16.98-17.71Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-4" data-name="blad" d="M35.06,48.7c-3.56-10.17-5.25-20.99-4.98-31.77.09-3.57.42-7.24,2.01-10.44S36.78.64,40.35.51c5.26-.2,9.36,5.17,9.75,10.42s-1.89,10.28-4.12,15.05c-4.81,10.3-9.62,20.6-14.44,30.9" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-5" data-name="blad" d="M37.14,48.86c1.69-12.75,10.26-23.79,21.83-28.11,3.04,2.9,6.4,7.07,4.79,10.7-.59,1.32-1.75,2.24-2.89,3.07-9.13,6.65-19.66,11.34-30.82,13.72" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-6" data-name="blad" d="M35.35,44.58c-.7,7.53-4.4,14.74-10.12,19.7-2.9,2.51-6.41,4.5-10.23,4.85-8.49.77-16.28-8.38-14.16-16.64.67-2.59,3.96-3.28,6.62-3.48,10.43-.78,20.86-1.56,27.88-4.42Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="blad-7" data-name="blad" d="M35.35,49.4c-8.25-2.11-15.73-6.85-22.52-12.32-2.93-2.36-5.84-4.96-7.5-8.47s-1.78-8.13.62-11.1c2.98-3.69,8.68-3.37,12.45-.65s6.08,7.19,8.24,11.48c3.05,6.04,6.09,12.09,8.72,21.05Z" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
            <path id="stilk" d="M36.06,49.03c-1.51,19.47-4.69,38.8-5.79,58.3-1.1,19.5-.03,39.46,6.68,57.8,5.23,14.27,1.2,32.21-5.55,45.83" style="fill: none; stroke: #dd2529; stroke-miterlimit: 10;"></path>
          </g>
        </svg>
      </div>
    </ul>

    <button class="burger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </button>
  </nav>
</header>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");

  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }
</script>

<style>
  @media (max-width: 880px) {
    #blomst1 {
      position: absolute;
      bottom: 0px;
      left: 10px;
      width: 30px;
    }

    #blomst2 {
      position: absolute;
      bottom: 0px;
      left: 70px;
      width: 20px;
    }

    #blomst3 {
      position: absolute;
      bottom: 0px;
      left: 120px;
      width: 20px;
    }

    #blomst4 {
      position: absolute;
      bottom: 0px;
      left: 160px;
      width: 20px;
    }
  }

  @media (min-width: 880px) {
    #blomst1 {
      position: absolute;
      bottom: 0px;
      left: 10px;
      width: 50px;
    }

    #blomst2 {
      position: absolute;
      bottom: 0px;
      left: 80px;
      width: 40px;
    }

    #blomst3 {
      position: absolute;
      bottom: 0px;
      left: 150px;
      width: 30px;
    }

    #blomst4 {
      position: absolute;
      bottom: 0px;
      left: 210px;
      width: 40px;
    }
  }
  #blomstikon {
    width: 20px;
  }

  /*gør strejerne usynlig når de roteres*/
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  /*Når min menu dropper down*/
  nav.active .menu {
    max-height: 300px;
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(63, 63, 63, 0.333);
  }

  /*Hele header inden man åbner*/
  header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 9999;
  }

  .logo img {
    width: 100%;
    height: 40px;
  }

  nav {
    display: flex;
    align-items: center;
    z-index: 1000;
  }

  .menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border-radius: 20px 0px 20px 20px;

    background-color: white;
    box-shadow: 0 10px 10px rgba(63, 63, 63, 0.333);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    list-style: none;
    margin: 0;
    padding: 0;

    z-index: 900;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu a {
    display: block;
    color: #000000;
    text-decoration: none;
    text-align: end;
    font-size: 24px;
    margin-top: 15px;
    padding-bottom: 15px;
  }

  .menu a:hover {
    color: #f2f2f2;
  }

  .burger {
    width: 40px;
    height: 40px;
    padding: 5px 5px 0px 5px;

    cursor: pointer;
    border: none;
    background-color: white;
  }

  .burger .line {
    display: block;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
</style>
